<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <% if (locals.title) { %>
      <%- title + ' - ' %>
        <% } %>
          Formbar
  </title>
  <link rel="stylesheet" href="css/style.css">
  <link id="lmdm" rel="stylesheet" href="css/lightmode.css">
  <link rel="icon" href="img/favicon.png">
  <script>
    let MANAGER_PERMISSIONS = Number('<%- MANAGER_PERMISSIONS %>')
    let TEACHER_PERMISSIONS = Number('<%- TEACHER_PERMISSIONS %>')
    let MOD_PERMISSIONS = Number('<%- MOD_PERMISSIONS %>')
    let STUDENT_PERMISSIONS = Number('<%- STUDENT_PERMISSIONS %>')
    let GUEST_PERMISSIONS = Number('<%- GUEST_PERMISSIONS %>')
    let currentUser = null
    if ('<%- locals.currentUser %>' != '')
      currentUser = JSON.parse('<%- JSON.stringify(locals.currentUser) %>')
  </script>
</head>

</html>