<%- include('../partials/header_content') %>
<%- include('../partials/formbar_header') %>
    <form id='consent-form' action='/consent' method='post'>
        <div id='consent-text'>
            <p>An app (<%= name %>) is asking to transfer <%= digipogs %> digipogs from your account.</p>
        </div>
        <button type='submit' name='action' value='accept'>Accept</button>
        <button type='submit' name='action' value='decline'>Decline</button>
    </form>
<%- include('../partials/footer_content') %>