<%- include('../partials/header_content') %>
	<%- include('../partials/sockets') %>
		<!DOCTYPE html>
		<html lang="en">

		<head>
			<meta charset="UTF-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<script src="/js/iro.js"></script>
			<script src="/js/floating-ui-core.js"></script>
			<script src="/js/floating-ui-dom.js"></script>
		</head>

		<body onload="load(<%-pollStatus%>)">
			<%- include('../partials/formbar_header') %>
				<header id="quickMenu">
					<button id="usersMenu" class="quickButton tab pressed" data-tab-group="mainTabs">Users</button>
					<button id="bannedMenu" class="quickButton tab" data-tab-group="mainTabs">Banned Users</button>
					<button id="pollsMenu" class="quickButton tab" data-tab-group="mainTabs">Poll </button>
					<!-- <button id="lessonMenu" class="quickButton tab" data-tab-group="mainTabs">Make a Lesson</button> -->
					<button id="settingsMenu" class="quickButton tab" data-tab-group="mainTabs">Settings</button>
				</header>

				<p id="classCode">Class Code:</p>
				<div id="usersMenu" class="tabContent default" data-tab-group="mainTabs">
					<div id="userFilterBoxes" class="options">
						<h2 class="headerText">Filter</h2>
						<button type="button" id="help" class="filter">Help tickets</button>
						<button type="button" id="break" class="filter">Break</button>
						<button type="button" id="polls" class="filter">Polls</button>
					</div>
					<div id="userSortBoxes" class="options">
						<h2 class="headerText">Sort</h2>
						<button type="button" id="name" class="sort">Name</button>
						<button type="button" id="polls" class="sort">Polls</button>
						<button type="button" id="helpTime" class="sort">Help Time</button>
						<button type="button" id="permissions" class="sort pressed">Permissions 🡇</button>
					</div>
					<button id="kickUsers" onclick="((event) => {socket.emit('classKickStudents')})()">
						Kick All Students
					</button>
					<button id="endClass" onclick="((event) => {socket.emit('endClass')})()">
						End Class
					</button>
					<div id="users">
					</div>
				</div>
				<div id="bannedMenu" class="tabContent" data-tab-group="mainTabs"></div>
				<div id="pollsMenu" class="tabContent" data-tab-group="mainTabs">
					<div id="pollOptions" class="options">
						<h2 class="headerText">Custom Polls</h2>
						<button id="publicPolls" class="quickButton tab unselectable" data-tab-group="polls">Public
							Polls</button>
						<button id="classPolls" class="quickButton tab unselectable" data-tab-group="polls">Class
							Polls</button>
						<button id="userPolls" class="quickButton tab unselectable" data-tab-group="polls">Your
							Polls</button>
					</div>
					<div id="mainPolls" class="tabContent default" data-tab-group="polls">
						<div id="pollActions" class="options">
							<button id="unload-poll" style="display: none;" onclick="unloadPoll()">Unload Poll</button>
							<button id="save-poll" style="display: none;" onclick="savePoll()">Save Poll</button>
							<button id="save-poll-as" onclick="savePollAs()">Save Poll As</button>
							<button id="delete-poll" style="display: none;" onclick="deletePoll()">Delete Poll</button>
						</div>
						<h2 class="headerText" style="margin-top: 0;">Start/Clear Poll</h2>
						<div id="startPollForm">
							<label for="resNumber">How many possible responses?</label>
							<input type="number" id="resNumber" min="1" max="26" step="1" value="1" onchange="responseAmountChange()">
							<br>
							<label for="resTextBox">Would like to accept text responses?</label>
							<input type="checkbox" id="resTextBox" onclick="resTextChange()">
							<br>
							<label for="pollBox">Prompt for the poll?</label>
							<input type="text" id="pollBox" placeholder="Prompt (optional)">
							<br>
							<label for="changeNames">Customize the answer options?</label>
							<input type="button" id="changeNames" value="Edit Responses" onclick="showResponses()"
								class="quickButton">
							<br>

							<label for="changeNames">Specify Tags?</label>
							<input type="button" id="changeNames" value="Tags" onclick="selectTags.showModal()" class="quickButton">
							<br>

							<button id="resetAnswerNames" class="quickButton">Reset Names</button>
							<button id="resetColors" class="quickButton">Reset Colors</button>
							<div id="responses"></div>
							<br>
							<label for="blind">Blind poll? (Responses won't be visible until everyone has
								answered)</label>
							<input type="checkbox" id="blind">
							<br>
							<button id="startPoll" onclick="startPoll()">Start Poll</button>
							<br>
						</div>
						<button id="endPoll" onclick="endPollFunc()" hidden class="quickButton">End Poll</button>
						<br>
						<button id="clearPoll" onclick="clearPollFunc()" hidden class="quickButton">Clear Poll</button>
						<br>
						<button type="button" onclick="displayPreviousPolls()" class="quickButton">View Previous
							Polls</button>

					</div>
					<div id="publicPolls" class="customPolls tabContent" data-tab-group="polls">
					</div>
					<div id="classPolls" class="customPolls tabContent" data-tab-group="polls">
					</div>
					<div id="userPolls" class="customPolls tabContent" data-tab-group="polls">
					</div>
					<div id="previousPolls" class="tabContent" data-tab-group="polls">
						<button id="toPolls" type="button" onclick="changeTab('mainPolls', 'polls')">Return to
							polls</button>
						<button id="toPollHistory" type="button" onclick="displayPoll()">Return To Selection</button>
						<div id="previousPollButtons"></div>
					</div>
				</div>
				<div id="lessonMenu" class="tabContent" data-tab-group="mainTabs">
					<form method="post" enctype="multipart/form-data">
						<input name="spreadsheet" type="file">
						<input type="submit" class="quickButton">
					</form>
					<button type="button" id="nextStep">Next Step</button><br>
					<br>
					<form>
						<label class="form-control" id="pollControl" for="modeP">
							<input type="radio" name="mode" id="modeP" onchange="modeChange()" value="poll">
							Poll Mode
						</label>
						<label class="form-control" id="pollControl" for="modeL">
							<input type="radio" name="mode" id="modeL" onchange="modeChange()" value="lesson">
							Lesson Mode
						</label>
						<label class="form-control" id="pollControl" for="modeQ">
							<input type="radio" name="mode" id="modeQ" onchange="modeChange()" value="quiz">
							Quiz Mode
						</label>
						<label class="form-control" id="pollControl" for="modePT">
							<input type="radio" name="mode" id="modePT" onchange="modeChange()" value="playtime">
							Playtime Mode
						</label>
					</form>
				</div>
				<div id="settingsMenu" class="tabContent" data-tab-group="mainTabs">
					<div class="options">
						<button id="permissions" class="quickButton tab pressed" data-tab-group="settingsTabs">Permissions</button>
						<button id="plugins" class="quickButton tab" data-tab-group="settingsTabs">Plugins</button>
					</div>
					<div id="permissions" class="tabContent default" data-tab-group="settingsTabs">
						<h2>Permissions</h2>
						<div id="permissionsList"></div>
					</div>
					<div id="plugins" class="tabContent" data-tab-group="settingsTabs">
					</div>
				</div>
				<dialog id="sharePollDialog">
					<button
						onclick="(()=>{currentSharePollId = null; document.getElementById('sharePollDialog').close()})()">Close</button>
					<p>
						<label for="share">Share to User</label>
						<input type="text" name="share" id="sharePollUserInput" pattern="[a-z0-9]+" placeholder="Username"
							onkeypress="if(event.key == 'Enter') sharePoll('user')">
					</p>
					<div id="userPollShares"></div>
					<p>
						<label for="share">Share to Class</label>
						<input type="text" name="share" id="sharePollClassInput" pattern="[a-z0-9]+" placeholder="Class Code"
							onkeypress="if(event.key == 'Enter') sharePoll('class')">
					</p>
					<div id="classPollShares"></div>
				</dialog>
				<!-- <button onclick="socket.emit('sharePollToClass', 5 , 'npm5')">click me</button> -->
				<%- include('../partials/body_content') %>
		</body>

		</html>
		<script src="/js/tabs.js"></script>
		<script>
			let currentUser = JSON.parse('<%- JSON.stringify(currentUser) %>')
			let userCustomPolls = []
			let classroomCustomPolls = []
			let publicCustomPolls = []
			let customPolls = []
			let editingPollId = null
			let currentSharePollId = null
			let currentSharePollType = null

			const FilterState = {
				help: [
					'Help tickets',
					'Help ticket in',
					'No help ticket'
				],
				break: [
					'Break',
					'Taking a break',
					'Not taking a break'
				],
				polls: [
					'Polls',
					'Responded to poll',
					'Did not respond to poll',
				]
			}

			const SortState = {
				name: [
					'Name',
					'Name 🡇',
					'Name 🡅'
				],
				polls: [
					'Polls',
					'Polls 🡇',
					'Polls 🡅'
				],
				helpTime: [
					'Help time',
					'Sorting by Help time',
				],
				permissions: [
					'Permissions',
					'Permissions 🡇',
					'Permissions 🡅'
				]
			}

			// 0 = off
			// 1 = only
			// 2 = except
			let filter = {
				help: 0,
				break: 0,
				polls: 0
			}
			// 0 = off
			// 1 = descending
			// 2 = ascending
			let sort = {
				name: 0,
				polls: 0,
				helpTime: 0,
				permissions: 1
			}

			let letterString = "abcdefghijklmnopqrstuvwxyz"
			let generatedColors = []
			let pollResponses = []
			let colorPickers = []

			var usersDiv = document.getElementById('users')
			var resNumber = document.getElementById('resNumber')
			var resTextBox = document.getElementById('resTextBox')
			var endPoll = document.getElementById('endPoll')
			var clearPoll = document.getElementById('clearPoll')
			var startPollForm = document.getElementById('startPollForm')
			var pollPrompt = document.getElementById('pollBox')
			var pollFilter = document.getElementById('pollFilter')
			var missingPollFilter = document.getElementById('missingPollFilter')
			var lettFilter = document.getElementById('lettFilter')
			var textFilter = document.getElementById('textFilter')
			var permSort = document.getElementById('permSort')
			var permSortLabel = document.getElementById('permSortLabel')
			var helpFilter = document.getElementById('helpFilter')
			var responsesDiv = document.getElementById('responses')
			let resetAnswerNamesButton = document.getElementById('resetAnswerNames')
			let resetColorsButton = document.getElementById('resetColors')
			let settingsDiv = document.querySelector('.tabContent#settingsMenu')
			var pluginsDiv = document.querySelector('.tabContent#plugins')
			var previousPolls = document.getElementById('previousPolls')
			var previousPollButtons = document.getElementById('previousPollButtons')
			var toPollsButton = document.getElementById('toPolls')
			var toPollHistoryButton = document.getElementById('toPollHistory')
			let blindCheck = document.getElementById('blind')
			var classCode = document.getElementById('classCode')
			var menuUsers = document.getElementById('menuUsers')
			var menuPolls = document.getElementById('menuPolls')
			var mainPolls = document.getElementById('menuPolls')
			var menuLesson = document.getElementById('menuLesson')
			var menuPlugins = document.getElementById('menuPlugins')
			let unloadPollButton = document.getElementById('unload-poll')
			let savePollButton = document.getElementById('save-poll')
			let deletePollButton = document.getElementById('delete-poll')
			let sharePollDialog = document.getElementById('sharePollDialog')
			let sharePollUserInput = document.getElementById('sharePollUserInput')
			let sharePollClassInput = document.getElementById('sharePollClassInput')
			let permissionsDiv = document.querySelector('#permissionsList')
			let usersTabButton = document.querySelector('.tab#userMenu')
			let bannedTabButton = document.querySelector('.tab#bannedMenu')
			let pollsTabButton = document.querySelector('.tab#pollsMenu')
			let settingsTabButton = document.querySelector('.tab#settingsMenu')
			let permissionsTabButton = document.querySelector('.tab#permissions')
			let pluginsTabButton = document.querySelector('.tab#plugins')
			// let pollOptions = document.getElementById('pollOptions')

			// Function runs on page load
			// Checks if poll is active or not and displays correct output
			function load(pollStatus) {
				if (pollStatus) {
					startPollForm.style.display = 'none'
					clearPoll.style.display = 'block'
					endPoll.style.display = 'block'
				} else {
					startPollForm.style.display = 'block'
					clearPoll.style.display = 'none'
					endPoll.style.display = 'none'
				}
			}

			function HSLToHex(hue, saturation, lightness) {
				// Normalize lightness to range 0-1
				lightness /= 100;

				// Calculate chroma
				const chroma = saturation * Math.min(lightness, 1 - lightness) / 100;

				// Function to get color component
				function getColorComponent(colorIndex) {
					const colorPosition = (colorIndex + hue / 30) % 12;
					const colorValue = lightness - chroma * Math.max(Math.min(colorPosition - 3, 9 - colorPosition, 1), -1);

					// Return color component in hexadecimal format
					return Math.round(255 * colorValue).toString(16).padStart(2, '0');
				};

				// Return the hex color
				return `#${getColorComponent(0)}${getColorComponent(8)}${getColorComponent(4)}`;
			}

			function hexToRGB(hexColor) {
				hexColor = hexColor.substring(1)
				let red = parseInt(hexColor.substring(0, 2), 16);
				let green = parseInt(hexColor.substring(2, 4), 16);
				let blue = parseInt(hexColor.substring(4, 6), 16);
				return { red, green, blue };
			}

			function rgbToHSV(red, green, blue) {
				red = red / 255, green = green / 255, blue = blue / 255;
				let maxColor = Math.max(red, green, blue)
				let minColor = Math.min(red, green, blue)
				let hue, saturation, value = maxColor
				let colorDifference = maxColor - minColor
				saturation = maxColor === 0 ? 0 : colorDifference / maxColor
				if (maxColor === minColor) {
					hue = 0
				} else {
					switch (maxColor) {
						case red: {
							hue = (green - blue) / colorDifference + (green < blue ? 6 : 0)
							break
						}
						case green: {
							hue = (blue - red) / colorDifference + 2
							break
						}
						case blue: {
							hue = (red - green) / colorDifference + 4
							break
						}
					}
					hue /= 6
				}
				return { hue: hue * 360, saturation: saturation * 100, value: value * 100 }
			}

			function hexToHSV(hexColor) {
				let { red, green, blue } = hexToRGB(hexColor)
				return rgbToHSV(red, green, blue)
			}

			function generateColors(amount) {
				// Initialize colors array
				let colors = [];

				// Initialize hue
				let hue = 0

				// Generate colors
				for (let i = 0; i < amount; i++) {
					// Add color to the colors array
					colors.push(HSLToHex(hue, 100, 50));

					// Increment hue
					hue += 360 / amount
				}

				// Return the colors array
				return colors;
			}

			function camelCaseToNormal(str) {
				let result = str.replace(/([A-Z])/g, " $1")
				result = result.charAt(0).toUpperCase() + result.slice(1)
				return result
			}

			//displays the previos polls page
			function displayPreviousPolls() {
				toPollHistoryButton.style.display = 'none'
				changeTab('previousPolls', 'polls')
			}

			//makes the previous polls page
			function buildPreviousPolls(data) {
				previousPollButtons.innerHTML = ''
				let br = document.createElement('br')

				for (let pollIndex = data.length - 1; pollIndex >= 0; pollIndex--) {
					let pollButton = document.createElement('button')
					pollButton.type = "button"
					pollButton.className = 'quickButton'
					pollButton.innerText = data[pollIndex].date + ' ' + data[pollIndex].data.prompt
					pollButton.onclick = (event) => {
						event.preventDefault()
						displayPoll(data[pollIndex].id)
					}
					previousPollButtons.appendChild(pollButton)

					previousPollButtons.appendChild(br.cloneNode(true))


					let previousPollDiv = document.createElement('div')
					previousPollDiv.className = 'previousPoll'
					previousPollDiv.id = data[pollIndex].id
					previousPollDiv.style.display = 'none'

					let previousPollPrompt = document.createElement('p')
					previousPollPrompt.innerText = `Prompt: ${data[pollIndex].data.prompt}`
					previousPollDiv.appendChild(previousPollPrompt)

					for (let userIndex = 0; userIndex < data[pollIndex].data.names.length; userIndex++) {
						let username = document.createElement('p')
						username.innerText = `Name: ${data[pollIndex].data.names[userIndex]}`
						previousPollDiv.appendChild(username)

						let letter = document.createElement('p')
						letter.innerText = `Letter: ${data[pollIndex].data.letter[userIndex]}`
						previousPollDiv.appendChild(letter)

						let text = document.createElement('p')
						text.innerText = `Text: ${data[pollIndex].data.text[userIndex]}`
						previousPollDiv.appendChild(text)
					}
					previousPolls.appendChild(previousPollDiv)
				}
			}

			function displayPoll(id) {
				if (id) {
					let previousPollDivs = document.getElementsByClassName('previousPoll')

					previousPollButtons.style.display = 'none'
					toPollsButton.style.display = 'none'
					toPollHistoryButton.style.display = ''

					for (let pollDiv of previousPollDivs) {
						if (pollDiv.id == id)
							pollDiv.style.display = 'block'
						else
							pollDiv.style.display = 'none'
					}
				} else {
					let previousPollDivs = document.getElementsByClassName('previousPoll')
					previousPollButtons.style.display = 'block'
					toPollsButton.style.display = ''
					toPollHistoryButton.style.display = 'none'

					for (let pollDiv of previousPollDivs) {
						pollDiv.style.display = 'none'
					}
				}
			}

			function saveColor(index) {
				let colorPickerButton = document.getElementsByClassName('colorPickerButton')[index]
				let oldColor = document.getElementsByClassName('oldColor')[index]

				pollResponses[index].color = colorPickers[index].color.hexString
				colorPickerButton.style.backgroundColor = colorPickers[index].color.hexString;
				oldColor.style.backgroundColor = colorPickers[index].color.hexString;
			}

			function resTextChange() {
				if (resTextBox.checked) {
					resNumber.min = 0
				}
				else {
					resNumber.min = 1
					if (resNumber.value < 1) resNumber.value = 1
				}
			}

			function responseAmountChange() {
				if (resTextBox.checked) {
					if (resNumber.value < 0) resNumber.value = 0
				}
				else {
					if (resNumber.value < 1) resNumber.value = 1
				}
				if (resNumber.value > 26) resNumber.value = 26

				generatedColors = generateColors(resNumber.value)
				if (pollResponses.length > resNumber.value) {

					let responseDivs = document.getElementsByClassName('response')
					for (let i = resNumber.value; i < pollResponses.length; i++) {
						document.getElementById(`response${i}`).remove()
					}

					pollResponses.splice(resNumber.value)
					colorPickers.splice(resNumber.value)
				}

				for (let i = pollResponses.length; i < resNumber.value; i++) {
					pollResponses.push({
						answer: '',
						defaultAnswer: letterString[i],
						color: '',
						defaultColor: generateColors[i],
						weight: 1,
						defaultWeight: 1
					})

					let responseDiv = document.createElement('div')
					responseDiv.className = 'response'
					responseDiv.id = `response${i}`

					let colorPickerButton = document.createElement('button')
					colorPickerButton.className = 'colorPickerButton'
					colorPickerButton.id = i
					colorPickerButton.onclick = (event) => {
						event.preventDefault()
						let id = Number(event.target.id)
						let colorPickers = document.getElementsByClassName('colorPicker')

						for (let colorPickerIndex = 0; colorPickerIndex < colorPickers.length; colorPickerIndex++) {
							if (colorPickerIndex == id) continue

							colorPickers[colorPickerIndex].style.display = 'none'
						}

						let colorPicker = colorPickers[id]
						if (colorPicker.style.display == 'grid') {
							colorPicker.style.display = 'none'
						}
						else {
							colorPicker.style.display = 'grid'
						}
					}
					responseDiv.appendChild(colorPickerButton)

					let colorPickerDiv = document.createElement('div')
					colorPickerDiv.className = 'colorPicker'

					let buttonsDiv = document.createElement('div')
					buttonsDiv.className = 'buttonsDiv'

					let saveColorButton = document.createElement('button')
					saveColorButton.className = 'quickButton'
					saveColorButton.innerText = 'Save Color'
					saveColorButton.onclick = () => {
						saveColor(i)
					}
					buttonsDiv.appendChild(saveColorButton)

					let resetColor = document.createElement('button')
					resetColor.className = 'quickButton'
					resetColor.innerText = 'Reset Color'
					resetColor.onclick = (event) => {
						event.preventDefault()
						let responseDiv = document.getElementsByClassName('response')[i]
						let colorPickerButton = responseDiv.getElementsByClassName('colorPickerButton')[0]
						let oldColor = responseDiv.getElementsByClassName('oldColor')[0]

						pollResponses[i].color = ''
						colorPickers[i].color.set(generatedColors[i])
						colorPickerButton.style.backgroundColor = generatedColors[i]
						oldColor.style.backgroundColor = generatedColors[i]
					}
					buttonsDiv.appendChild(resetColor)

					colorPickerDiv.appendChild(buttonsDiv)

					let colorsDiv = document.createElement('div')
					colorsDiv.className = 'colorsDiv'

					let oldColor = document.createElement('div')
					oldColor.className = 'oldColor'
					colorsDiv.appendChild(oldColor)

					let newColor = document.createElement('div')
					newColor.className = 'newColor'
					colorsDiv.appendChild(newColor)

					colorPickerDiv.appendChild(colorsDiv)

					let hexLabel = document.createElement('label')
					hexLabel.className = 'hexLabel'
					hexLabel.innerText = 'Hex '
					let hexInput = document.createElement('input')
					hexInput.className = 'hexInput'
					hexInput.type = 'text'
					hexInput.pattern = '[0-9A-Fa-f]{3,6}'
					hexInput.onchange = (event) => {
						event.preventDefault()
						colorPickers[i].color.set('#' + event.target.value)
					}
					hexLabel.appendChild(hexInput)

					colorPickerDiv.appendChild(hexLabel)

					responseDiv.appendChild(colorPickerDiv)

					let answerName = document.createElement('input')
					answerName.type = 'text'
					answerName.className = 'answerName'
					answerName.name = 'answerName'
					answerName.placeholder = `Answer ${String.fromCharCode(i + 97)} `
					answerName.value = ''
					answerName.onchange = (event) => {
						pollResponses[i].answer = event.target.value;
					}
					responseDiv.appendChild(answerName)

					responsesDiv.appendChild(responseDiv)

					FloatingUIDOM.autoUpdate(
						colorPickerButton,
						colorPickerDiv,
						() => {
							FloatingUIDOM.computePosition(colorPickerButton, colorPickerDiv, {
								placement: 'bottom',
								middleware: [FloatingUIDOM.offset(10), FloatingUIDOM.flip()]
							})
								.then(({ x, y }) => {
									Object.assign(colorPickerDiv.style, {
										left: `${x}px`,
										top: `${y}px`
									})
								})
						})

					colorPickers[i] = new iro.ColorPicker(colorPickerDiv, {
						width: 100,
						color: generatedColors[i],
						id: i,
						layoutDirection: 'horizontal',
						layout: [
							{
								component: iro.ui.Wheel,
							},
							{
								component: iro.ui.Slider,
								options: {
									sliderType: 'value'
								}
							}
						]
					});
					colorPickers[i].on(['color:init', 'color:change'], color => {
						let newColor = responseDiv.getElementsByClassName('newColor')[0]
						let hexInput = responseDiv.getElementsByClassName('hexInput')[0]

						newColor.style.backgroundColor = color.hexString
						hexInput.value = color.hexString.substring(1)
					})
				}

				let responseDivs = document.getElementsByClassName('response')
				for (let i = 0; i < pollResponses.length; i++) {
					let responseDiv = responseDivs[i]
					let colorPickerButton = responseDiv.getElementsByClassName('colorPickerButton')[0]
					let oldColor = responseDiv.getElementsByClassName('oldColor')[0]

					pollResponses[i].defaultColor = generatedColors[i]
					if (!pollResponses[i].color) {
						colorPickerButton.style.backgroundColor = generatedColors[i]
						oldColor.style.backgroundColor = generatedColors[i]
					}
					let hsv = hexToHSV(generatedColors[i])
					colorPickers[i].color.initialValue = {
						h: hsv.hue,
						s: hsv.saturation,
						v: hsv.value,
						a: 1,
					}
				}
			}
			responseAmountChange()

			function resetAnswerNames() {
				let answerNames = document.getElementsByName('answerName')
				for (let i = 0; i < pollResponses.length; i++) {
					pollResponses[i].answer = pollResponses[i].defaultAnswer
					answerNames[i].value = ''
				}
			}
			resetAnswerNamesButton.onclick = resetAnswerNames

			function resetColors() {
				for (let i = 0; i < pollResponses.length; i++) {
					let responseDiv = document.getElementsByClassName('response')[i]
					let colorPickerButton = responseDiv.getElementsByClassName('colorPickerButton')[0]
					let oldColor = responseDiv.getElementsByClassName('oldColor')[0]

					pollResponses[i].color = ''
					colorPickerButton.style.backgroundColor = generatedColors[i]
					oldColor.style.backgroundColor = generatedColors[i]
				}
			}
			resetColorsButton.onclick = resetColors

			function showResponses() {
				if (responsesDiv.style.display == 'grid')
					responsesDiv.style.display = 'none'
				else responsesDiv.style.display = 'grid'
			}

			function modeChange() {
				let modeP = document.getElementById('modeP')
				let modeL = document.getElementById('modeL')
				let modeQ = document.getElementById('modeQ')
				let modePT = document.getElementById('modePT')

				if (modeP.checked) {
					socket.emit('modechange', modeP.value)
				} else if (modeL.checked) {
					socket.emit('modechange', modeL.value)
				} else if (modeQ.checked) {
					socket.emit('modechange', modeQ.value)
				} else if (modePT.checked) {
					socket.emit('modechange', modePT.value)
				}
			}

			// Ends the poll and reloads the users page to stop any more submission
			function clearPollFunc() {
				socket.emit('clearPoll')
				startPollForm.style.display = 'block'
				clearPoll.style.display = 'none'
				// pollOptions.style.display = ''
			}

			function endPollFunc() {
				socket.emit('endPoll')

			}
			// makes student elements
			function buildStudent(room, student) {
				var newStudent = document.createElement("div");
				newStudent.classList.add("student");
				let studentElement = document.createElement("p");
				studentElement.innerText += student;
				newStudent.appendChild(studentElement);
				let studentData = room.students[student]
				if (studentData.break == true) {
					let breakText = document.createElement("p");
					breakText.innerText += "taking a break";
					newStudent.appendChild(breakText);
				}
				else if (studentData.break) {
					let breakDiv = document.createElement("div");
					breakDiv.setAttribute("id", "break");
					let breakNeeded = document.createElement("p");
					breakNeeded.innerText = "Needs a break";
					breakDiv.appendChild(breakNeeded);
					let breakReason = document.createElement("p");
					breakReason.innerText = `Reason: ${studentData.break} `;
					breakDiv.appendChild(breakReason);
					let breakApprove = document.createElement("button");
					breakApprove.classList.add("quickButton");
					breakApprove.onclick = () => { approveBreak(true, studentData.username) };
					breakApprove.innerText = "Approve";
					breakDiv.appendChild(breakApprove);
					let breakDeny = document.createElement("button");
					breakDeny.classList.add("quickButton");
					breakDeny.onclick = () => { approveBreak(false, studentData.username) };
					breakDeny.innerText = "Deny";
					breakDiv.appendChild(breakDeny);
					newStudent.appendChild(breakDiv);
					let lineBreak = document.createElement("br");
					newStudent.appendChild(lineBreak);
				}
				if (studentData.help) {
					let help = document.createElement("p");
					help.setAttribute("id", "help");
					help.innerText = "sent help ticket";
					if (studentData.help.reason) {
						let helpReason = document.createElement("p");
						helpReason.innerText = `reason ${studentData.help.reason} `;
						help.appendChild(helpReason);
					};
					let helpTimeDisplay = document.createElement("p");
					helpTimeDisplay.innerText = `at ${studentData.help.time.hours}:${studentData.help.time.minutes}:${studentData.help.time.seconds} `;
					help.appendChild(helpTimeDisplay);
					let deleteTicketButton = document.createElement("button");
					deleteTicketButton.classList.add("quickButton");
					deleteTicketButton.dataset.studentName = student;
					deleteTicketButton.onclick = (event) => {
						deleteTicket(event.target);
					};
					deleteTicketButton.innerText = "Delete Ticket";
					help.appendChild(deleteTicketButton);
					newStudent.appendChild(help);
					let lineBreak = document.createElement("br");
					newStudent.appendChild(lineBreak);
				}
				if (studentData.pollTextRes) {
					let pollTextResponse = document.createElement("p");
					pollTextResponse.innerText = `Poll Text: ${studentData.pollRes.textRes} `;
					newStudent.appendChild(pollTextResponse);
				};
				if (studentData.pollRes.buttonRes) {
					let pollResponse = document.createElement("p");
					pollResponse.innerText = `Poll: ${studentData.pollRes.buttonRes} `;
					newStudent.appendChild(pollResponse);
				};
				if (studentData.pollRes.textRes) {
					let textResponse = document.createElement("p");
					textResponse.innerText = `Text Response: ${studentData.pollRes.textRes}`;
					newStudent.appendChild(textResponse);
				};
				if (studentData.classPermissions < currentUser.classPermissions) {
					let permissionSwitch = document.createElement("select");
					permissionSwitch.setAttribute("name", "permSwitch");
					permissionSwitch.setAttribute("class", "permSwitch");
					permissionSwitch.setAttribute("data-userid", student);
					permissionSwitch.onchange = (event) => {
						console.log(event);
						socket.emit('classPermChange', event.target.dataset.userid, event.target.value)
					};
					if (studentData.classPermissions == 4) {
						let teacherOption = document.createElement("option");
						teacherOption.setAttribute("value", 4);
						teacherOption.setAttribute("selected", true);
						teacherOption.innerText = "Teacher";
						permissionSwitch.add(teacherOption);
						let modOption = document.createElement("option");
						modOption.setAttribute("value", 3);
						modOption.innerText = "Mod";
						permissionSwitch.add(modOption);
						let studentOption = document.createElement("option");
						studentOption.setAttribute("value", 2);
						studentOption.innerText = "Student";
						permissionSwitch.add(studentOption);
						let guestOption = document.createElement("option");
						guestOption.setAttribute("value", 1);
						guestOption.innerText = "Guest";
						permissionSwitch.add(guestOption);
					} else if (studentData.classPermissions == 3) {
						let teacherOption = document.createElement("option");
						teacherOption.setAttribute("value", 4);
						teacherOption.innerText = "Teacher";
						permissionSwitch.add(teacherOption);
						let modOption = document.createElement("option");
						modOption.setAttribute("value", 3);
						modOption.setAttribute("selected", true);
						modOption.innerText = "Mod";
						permissionSwitch.add(modOption);
						let studentOption = document.createElement("option");
						studentOption.setAttribute("value", 2);
						studentOption.innerText = "Student";
						permissionSwitch.add(studentOption);
						let guestOption = document.createElement("option");
						guestOption.setAttribute("value", 1);
						guestOption.innerText = "Guest";
						permissionSwitch.add(guestOption);
					} else if (studentData.classPermissions == 2) {
						let teacherOption = document.createElement("option");
						teacherOption.setAttribute("value", 4);
						teacherOption.innerText = "Teacher";
						permissionSwitch.add(teacherOption);
						let modOption = document.createElement("option");
						modOption.setAttribute("value", 3);
						modOption.innerText = "Mod";
						permissionSwitch.add(modOption);
						let studentOption = document.createElement("option");
						studentOption.setAttribute("value", 2);
						studentOption.setAttribute("selected", true);
						studentOption.innerText = "Student";
						permissionSwitch.add(studentOption);
						let guestOption = document.createElement("option");
						guestOption.setAttribute("value", 1);
						guestOption.innerText = "Guest";
						permissionSwitch.add(guestOption);
					} else if (studentData.classPermissions == 1) {
						let teacherOption = document.createElement("option");
						teacherOption.setAttribute("value", 4);
						teacherOption.innerText = "Teacher";
						permissionSwitch.add(teacherOption);
						let modOption = document.createElement("option");
						modOption.setAttribute("value", 3);
						modOption.innerText = "Mod";
						permissionSwitch.add(modOption);
						let studentOption = document.createElement("option");
						studentOption.setAttribute("value", 2);
						studentOption.innerText = "Student";
						permissionSwitch.add(studentOption);
						let guestOption = document.createElement("option");
						guestOption.setAttribute("value", 1);
						guestOption.setAttribute("selected", true);
						guestOption.innerText = "Guest";
						permissionSwitch.add(guestOption);
					}
					let toggleDialog = document.createElement('button');
					toggleDialog.innerText = "Tags";
					toggleDialog.addEventListener('click', function () {
						studentTags.showModal();
					});

					let studentTags = document.createElement('dialog');
					studentTags.innerHTML = '<p>' + student + '</p>';
					let closeButton = document.createElement('button');
					closeButton.textContent = 'Save';
					let tagForm = document.createElement('form');
					tagForm.setAttribute('id', student + "tags");
					var tagNames = ["Senior", "Junior", "Sophomore", "Freshman", "FormbarJS", "OnlyPogs", "PokePucks", "Fiverr"];
					for (let i = 0; i < tagNames.length; i++) {
						let checkbox = document.createElement('input');
						checkbox.type = 'checkbox';
						checkbox.name = `checkbox${tagNames[i]}`;
						checkbox.value = tagNames[i];
						if (studentData.tags != null && studentData.tags != undefined) {
							studentData.tags.split(",").forEach(tag => {
								if (tag == tagNames[i]) {
									checkbox.checked = true;
								}
							})
						};
						let label = document.createElement('label');
						label.textContent = tagNames[i];
						label.setAttribute('for', `checkbox${i}`);

						tagForm.appendChild(checkbox);
						tagForm.appendChild(label);
						tagForm.appendChild(document.createElement('br'));
					}
					studentTags.appendChild(tagForm)
					document.body.appendChild(studentTags);
					closeButton.addEventListener('click', function () {
						studentData.tags = ""
						var allTags = ""
						let checkboxForm = document.getElementById(student + "tags");
						let checkboxes = checkboxForm.getElementsByTagName("input");
						for (let i = 0; i < checkboxes.length; i++) {
							let checkbox = checkboxes[i];
							// Check if the checkbox is checked
							if (checkbox.type === "checkbox") {
								if (checkbox.checked) {
									// Add the checkbox value to the studentData.tags array
									allTags += checkbox.value + ", "
								}
							}
						}
						studentData.tags = allTags.split(", ")
						studentData.tags.pop()
						studentData.tags.sort()
						socket.emit('saveTags', studentData.id, studentData.tags, studentData.username)
						studentTags.close();
					});
					studentTags.appendChild(closeButton);
					newStudent.appendChild(toggleDialog);
					newStudent.appendChild(permissionSwitch);
					newStudent.append(" ");
					let banStudentButton = document.createElement("button")
					banStudentButton.className = 'banStudent quickButton'
					banStudentButton.setAttribute("data-user", student)
					banStudentButton.innerText = "Ban User"
					banStudentButton.onclick = (event) => {
						socket.emit('classBanUser', student)
					}
					newStudent.appendChild(banStudentButton)
					let kickUserButton = document.createElement("button")
					kickUserButton.className = 'kickUser quickButton'
					kickUserButton.setAttribute("data-userid", student)
					kickUserButton.onclick = (event) => {
						socket.emit('classKickUser', student)
					};
					kickUserButton.innerText = "Kick User"
					newStudent.appendChild(kickUserButton)
				}
				return newStudent;
			}

			// filters and sorts students
			function filterSortChange() {
				usersDiv.innerHTML = ''
				let newStudent = ''
				let newRoom = allRoom

				let helpButton = document.getElementById("help");
				let breakButton = document.getElementById("break");
				let pollsButton = document.getElementById("polls");

				//filter by help
				if (filter.help == 1) {
					for (let [username, student] of Object.entries(newRoom.students)) {
						if (!student.help) {
							delete newRoom.students[username]
						}
					}
				} else if (filter.help == 2) {
					for (let [username, student] of Object.entries(newRoom.students)) {
						if (student.help) {
							delete newRoom.students[username]
						}
					}
				}

				//filter by break
				if (filter.break == 1) {
					for (let [username, student] of Object.entries(newRoom.students)) {
						if (!student.break) {
							delete newRoom.students[username]
						}
					}
				} else if (filter.break == 2) {
					for (let [username, student] of Object.entries(newRoom.students)) {
						if (student.break) {
							delete newRoom.students[username]
						}
					}
				}

				//filter by poll
				if (filter.polls == 1) {
					for (let [username, student] of Object.entries(newRoom.students)) {
						if (!student.pollRes.buttonRes && !student.pollRes.textRes) {
							delete newRoom.students[username]
						}
					}
				} else if (filter.polls == 2) {
					for (let [username, student] of Object.entries(newRoom.students)) {
						if (student.pollRes.buttonRes || student.pollRes.textRes) {
							delete newRoom.students[username]
						}
					}
				}

				//sort by name
				if (sort.name == 1) {
					newRoom.students = Object.fromEntries(Object.entries(newRoom.students).sort())
				} else if (sort.name == 2) {
					newRoom.students = Object.fromEntries(Object.entries(newRoom.students).sort().reverse())
				}

				//sort by help time
				if (sort.helpTime == 1) {
					newRoom.students = Object.fromEntries(Object.entries(newRoom.students).sort((entireA, entireB) => {
						objectA = entireA[1]
						objectB = entireB[1]

						if (objectA.help && objectB.help) {
							const dateA = new Date()
							dateA.setHours(objectA.help.time.hours)
							dateA.setMinutes(objectA.help.time.minutes)
							dateA.setSeconds(objectA.help.time.seconds)
							const dateB = new Date()
							dateB.setHours(objectB.help.time.hours)
							dateB.setMinutes(objectB.help.time.minutes)
							dateB.setSeconds(objectB.help.time.seconds)
							if (dateA < dateB) {
								return -1
							}
						}
						else if (objectA.help) return -1
					}))
				}

				//sort by poll
				if (sort.polls == 1) {
					newRoom.students = Object.fromEntries(Object.entries(newRoom.students).sort((entireA, entireB) => {
						objectA = entireA[1]
						objectB = entireB[1]
						if (objectA.pollRes.textRes && objectB.pollRes.textRes) {
							return objectA.pollRes.textRes.localeCompare(objectB.pollRes.textRes)
						} else if (objectA.pollRes.textRes) return -1
						else if (objectB.pollRes.textRes) return 1
						if (objectA.pollRes.buttonRes && objectB.pollRes.buttonRes) {
							return objectA.pollRes.buttonRes.localeCompare(objectB.pollRes.buttonRes)
						} else if (objectA.pollRes.buttonRes) return -1
						else if (objectB.pollRes.buttonRes) return 1
					}))
				} else if (sort.polls == 2) {
					newRoom.students = Object.fromEntries(Object.entries(newRoom.students).sort((entireA, entireB) => {
						objectA = entireA[1]
						objectB = entireB[1]
						if (objectA.pollRes.textRes && objectB.pollRes.textRes) {
							return objectB.pollRes.textRes.localeCompare(objectA.pollRes.textRes)
						} else if (objectA.pollRes.textRes) return 1
						else if (objectB.pollRes.textRes) return -1
						if (objectA.pollRes.buttonRes && objectB.pollRes.buttonRes) {
							return objectB.pollRes.buttonRes.localeCompare(objectA.pollRes.buttonRes)
						} else if (objectA.pollRes.buttonRes) return 1
						else if (objectB.pollRes.buttonRes) return -1
					}))
				}

				//sort by permissions
				if (sort.permissions == 1) {
					newRoom.students = Object.fromEntries(Object.entries(newRoom.students).sort((a, b) => b[1].permissions - a[1].permissions))
				} else if (sort.permissions == 2) {
					newRoom.students = Object.fromEntries(Object.entries(newRoom.students).sort((a, b) => a[1].permissions - b[1].permissions))
				}

				for (const student of Object.keys(newRoom.students)) {
					usersDiv.appendChild(buildStudent(newRoom, student))
				}
			}

			function makeLesson() {
				let learningObj = document.getElementById('learningObj')
				let dueAssigns = document.getElementById('dueAssigns')
				socket.emit('lessonStart', learningObj.value)
				alert('Lesson Created')
			}

			// sets filters
			for (let filterElement of document.getElementsByClassName('filter')) {
				filterElement.onclick = () => {
					filter[filterElement.id] += 1
					if (filter[filterElement.id] > 2) {
						filter[filterElement.id] = 0
					}
					if (filter[filterElement.id] == 0) filterElement.classList.remove('pressed')
					else filterElement.classList.add('pressed')
					filterElement.innerText = FilterState[filterElement.id][filter[filterElement.id]]
					filterSortChange()
				}
			}

			// sets sorts
			for (let sortElement of document.getElementsByClassName('sort')) {
				sortElement.onclick = () => {
					for (let sortType of Object.keys(sort)) {
						if (sortType != sortElement.id) {
							sort[sortType] = 0
							let otherSortElements = document.querySelector('.sort#' + sortType)
							if (otherSortElements) {
								otherSortElements.classList.remove('pressed')
								otherSortElements.innerText = SortState[sortType][sort[sortType]]
							}
						}
					}
					sort[sortElement.id] += 1
					if (sortElement.id == 'helpTime' && sort[sortElement.id] > 1) {
						sort[sortElement.id] = 0
					}
					else if (sort[sortElement.id] > 2) {
						sort[sortElement.id] = 0
					}
					if (sort[sortElement.id] == 0) sortElement.classList.remove('pressed')
					else sortElement.classList.add('pressed')
					sortElement.innerText = SortState[sortElement.id][sort[sortElement.id]]
					filterSortChange()
				}
			}

			function deleteTicket(e) {
				socket.emit('deleteTicket', e.dataset.studentName)
			}

			function doStep(id) {
				alert('Step ' + id + ' activated')
				socket.emit('doStep', id)
			}

			function makeLesson() {
				let learningObj = document.getElementById('learningObj')
				let dueAssigns = document.getElementById('dueAssigns')
				socket.emit('lessonStart', learningObj.value)
				alert('Lesson Created')
			}

			function approveBreak(breakApproval, username) {
				socket.emit('approveBreak', breakApproval, username)
			}

			// Starts a new poll that allows students to submit answers
			// Check how many possible responses and if the teacher wants to accept text responses
			function startPoll(customPollId) {
				var userTags = []
				for (let tagsSelected of document.getElementsByName("selectedTags")[0]) {
					//console.log(tagsSelected.value, tagsSelected.checked);
					if (tagsSelected.checked) {
						userTags.push(tagsSelected.value)
					}
					userTags.sort()
				}
				if (customPollId) {
					let customPoll = customPolls[customPollId]

					changeTab('mainPolls', 'polls')

					socket.emit('startPoll', customPoll.answers.length, customPoll.textRes, customPoll.prompt, customPoll.answers, customPoll.blind, customPoll.weight)
				} else {
					let blind = blindCheck.checked

					let pollAnswers = []
					for (let i = 0; i < resNumber.value; i++) {
						let pollResponse = pollResponses[i]
						let pollAnswer = {
							answer: pollResponse.answer,
							weight: pollResponse.weight,
							color: pollResponse.color
						}

						pollAnswers.push(pollAnswer)
					}

					socket.emit('startPoll', resNumber.value, resTextBox.checked, pollPrompt.value, pollAnswers, blind, 1)
				}
				responsesDiv.style.display = 'none'
				startPollForm.style.display = 'none'
				clearPoll.style.display = 'block'
				endPoll.style.display = 'block'
				changeTab('usersMenu', 'mainTabs')
			};

			function editCustomPoll(customPollId) {
				editingPollId = customPollId
				let customPoll = customPolls[editingPollId]

				unloadPollButton.style.display = ''
				if (customPoll.owner == currentUser.id) {
					deletePollButton.style.display = ''
					savePollButton.style.display = ''
				} else {
					deletePollButton.style.display = 'none'
					savePollButton.style.display = 'none'
				}

				blindCheck.checked = customPoll.blind
				pollPrompt.value = customPoll.prompt
				resTextBox.checked = customPoll.textRes

				responseAmountChange(customPoll.answers.length)

				let answerInputs = document.getElementsByClassName('answerName')
				for (let pollIndex = 0; pollIndex < customPoll.answers.length; pollIndex++) {
					let answer = customPoll.answers[pollIndex]

					pollResponses[pollIndex].answer = answer.answer
					answerInputs[pollIndex].value = answer.answer

					pollResponses[pollIndex].color = answer.color
					colorPickers[pollIndex].color.set(pollResponses[pollIndex].color)
					saveColor(pollIndex)

					pollResponses[pollIndex].weight = answer.weight
				}

				changeTab('mainPolls', 'polls')
				showResponses()
			}

			function unloadPoll() {
				unloadPollButton.style.display = 'none'
				savePollButton.style.display = 'none'
				deletePollButton.style.display = 'none'

				pollPrompt.value = ''
				resTextBox.checked = false
				blindCheck.checked = false

				responseAmountChange(1)
				resetAnswerNames()
				resetColors()
				editingPollId = null
			}

			function savePoll() {
				let customPoll = customPolls[editingPollId]

				customPoll.blind = blindCheck.checked
				customPoll.prompt = pollPrompt.value
				customPoll.textRes = resTextBox.checked

				let pollAnswers = []
				for (let i = 0; i < resNumber.value; i++) {
					let pollResponse = pollResponses[i]
					let pollAnswer = {
						answer: pollResponse.answer,
						weight: pollResponse.weight,
						color: pollResponse.color
					}

					pollAnswers.push(pollAnswer)
				}
				customPoll.answers = pollAnswers

				socket.emit('savePoll', customPoll, editingPollId)
			}

			function savePollAs() {
				let customPoll = {}

				customPoll.name = prompt('What do you want to call this poll')

				customPoll.blind = blindCheck.checked
				customPoll.prompt = pollPrompt.value
				customPoll.textRes = resTextBox.checked
				customPoll.public = false
				customPoll.weight = 1

				let pollAnswers = []
				for (let i = 0; i < resNumber.value; i++) {
					let pollResponse = pollResponses[i]
					let pollAnswer = {
						answer: pollResponse.answer,
						weight: pollResponse.weight,
						color: pollResponse.color
					}

					pollAnswers.push(pollAnswer)
				}
				customPoll.answers = pollAnswers

				socket.emit('savePoll', customPoll)
			}

			function openSharePoll(customPollId) {
				currentSharePollId = customPollId
				socket.emit('getPollShareIds', customPollId)

				sharePollDialog.showModal()
			}

			function sharePoll(type) {
				if (type == 'user')
					socket.emit('sharePollToUser', currentSharePollId, sharePollUserInput.value,)
				else if (type == 'class')
					socket.emit('sharePollToClass', currentSharePollId, sharePollClassInput.value)
				else alert('Invalid share poll type')

				sharePollUserInput.value = ''
				sharePollClassInput.value = ''
			}

			function sharePoll(type) {

				if (type == 'user')
					socket.emit('sharePollToUser', currentSharePollId, sharePollUserInput.value)
				else if (type == 'class')
					socket.emit('sharePollToClass', currentSharePollId, sharePollClassInput.value)
				else alert('Invalid share poll type')
			}


			function deletePoll(pollId) {
				if (!pollId && !editingPollId) {
					alert('No poll selected')
					return
				}
				if (!pollId) {
					pollId = editingPollId
					unloadPoll()
				}

				socket.emit('deletePoll', pollId)
			}

			function insertCustomPolls(customPollsList, customPollsDiv, emptyText) {
				customPollsDiv.innerHTML = ''
				unnamedPolls = 0

				if (customPollsList.length == 0) {
					let noPolls = document.createElement('p')
					noPolls.innerText = emptyText
					customPollsDiv.appendChild(noPolls)
				}

				for (let customPollId of customPollsList) {
					let customPoll = customPolls[customPollId]

					if (!customPoll) continue

					let customPollDiv = document.createElement('div')
					customPollDiv.className = 'customPoll'

					let customPollName = document.createElement('p')
					customPollName.className = 'custom-poll-name'
					customPollName.style.gridColumn = 1
					if (customPoll.name)
						customPollName.innerText = customPoll.name
					else if (customPoll.prompt)
						customPollName.innerText = customPoll.prompt
					else {
						unnamedPolls++
						customPollName.innerText = 'Unnamed Poll'
					}
					customPollDiv.appendChild(customPollName)

					let editButton = document.createElement('button')
					editButton.className = 'edit-custom-poll'
					editButton.style.gridColumn = 2
					editButton.innerText = 'Edit'
					editButton.onclick = () => {
						editCustomPoll(customPollId)
					}
					customPollDiv.appendChild(editButton)

					let startButton = document.createElement('button')
					startButton.className = 'start-custom-poll'
					startButton.style.gridColumn = 3
					startButton.innerText = 'Start'
					startButton.onclick = () => {
						startPoll(customPollId)
					}
					customPollDiv.appendChild(startButton)

					if (customPoll.owner == currentUser.id) {
						let shareButton = document.createElement('button')
						shareButton.className = 'share-button'
						shareButton.style.gridColumn = 4
						shareButton.innerText = 'Share'
						shareButton.onclick = () => { openSharePoll(customPollId) }
						customPollDiv.appendChild(shareButton)

						let publicButton = document.createElement('button')
						publicButton.className = 'public-button'
						publicButton.style.gridColumn = 5
						if (customPoll.public)
							publicButton.innerText = 'Make Private'
						else
							publicButton.innerText = 'Make Public'
						publicButton.onclick = () => { publicToggle(customPollId) }
						customPollDiv.appendChild(publicButton)

						let deleteButton = document.createElement('button')
						deleteButton.className = 'delete-poll'
						deleteButton.style.gridColumn = 6
						deleteButton.innerText = 'Delete'
						deleteButton.onclick = () => { deletePoll(customPollId) }
						customPollDiv.appendChild(deleteButton)
					}

					customPollsDiv.appendChild(customPollDiv)
				}
			}

			// close all color pickers if you press escape
			document.addEventListener('keydown', function (event) {
				if (event.key == 'Escape') {
					let colorPickersDiv = document.getElementsByClassName('colorPicker')
					for (let i = 0; i < colorPickersDiv.length; i++) {
						colorPickers[i].color.set(pollResponses[i].color)
						colorPickersDiv[i].style.display = 'none'
					}
				}
			})

			// close all color pickers if you click outside of them
			document.addEventListener('click', (event) => {
				if (
					!event.target.closest('.colorPicker') &&
					!event.target.classList.contains('colorPickerButton')
				) {
					let colorPickersDiv = document.getElementsByClassName('colorPicker')
					for (let i = 0; i < colorPickers.length; i++) {
						colorPickers[i].color.set(pollResponses[i].color)
						colorPickersDiv[i].style.display = 'none'
					}
				}
			})

			var allRoom = ""
			socket.emit('cpUpdate')
			socket.on('cpUpdate', (room) => {
				classCode.innerText = 'Class Code: ' + room.key
				buildPreviousPolls(room.pollHistory)
				allRoom = room

				console.log(allRoom);

				document.getElementById('nextStep').onclick = () => {
					doStep(allRoom.currentStep)
				}
				filterSortChange()

				if (currentUser.classPermissions >= allRoom.permissions.manageStudents) {
					bannedTabButton.style.display = ''
				} else {
					bannedTabButton.style.display = 'none'

					if (bannedTabButton.classList.contains('pressed')) {
						changeTab('usersMenu', 'mainTabs')
					}
				}

				if (currentUser.classPermissions >= allRoom.permissions.controlPolls) {
					pollsTabButton.style.display = ''
				} else {
					pollsTabButton.style.display = 'none'

					if (pollsTabButton.classList.contains('pressed')) {
						changeTab('usersMenu', 'mainTabs')
					}
				}

				if (currentUser.classPermissions >= allRoom.permissions.manageClass) {
					settingsTabButton.style.display = ''
				} else {
					settingsTabButton.style.display = 'none'

					if (settingsTabButton.classList.contains('pressed')) {
						changeTab('usersMenu', 'mainTabs')
					}
				}

				if (currentUser.classPermissions >= 5) {
					permissionsTabButton.style.display = ''
				} else {
					permissionsTabButton.style.display = 'none'

					if (permissionsTabButton.classList.contains('pressed')) {
						changeTab('plugins', 'settingsTabs')
					}
				}

				console.log(allRoom.poll);

				if (allRoom.poll.status) {
					responsesDiv.style.display = 'none'
					startPollForm.style.display = 'none'
					endPoll.style.display = 'block'
					// pollOptions.style.display = 'none'
				} else {
					responsesDiv.style.display = ''
					startPollForm.style.display = ''
					endPoll.style.display = 'none'
				}

				permissionsDiv.innerHTML = ''
				for (let [permission, level] of Object.entries(allRoom.permissions)) {
					let permissionLabel = document.createElement('label')
					permissionLabel.innerText = camelCaseToNormal(permission)
					let permissionSelect = document.createElement('select')
					permissionSelect.className = 'permissionSelect'
					permissionSelect.id = permission
					permissionSelect.onchange = (event) => {
						let select = event.target
						socket.emit('setClassPermissionSetting', select.id, select.options[select.selectedIndex].value)
					}
					let ownerOption = document.createElement('option')
					ownerOption.value = 5
					ownerOption.selected = level == 5
					ownerOption.innerText = 'Owner'
					permissionSelect.appendChild(ownerOption)
					let teacherOption = document.createElement('option')
					teacherOption.value = 4
					teacherOption.selected = level == 4
					teacherOption.innerText = 'Teacher'
					permissionSelect.appendChild(teacherOption)
					let modOption = document.createElement('option')
					modOption.value = 3
					modOption.selected = level == 3
					modOption.innerText = 'Mod'
					permissionSelect.appendChild(modOption)
					let studentOption = document.createElement('option')
					studentOption.value = 2
					studentOption.selected = level == 2
					studentOption.innerText = 'Student'
					permissionSelect.appendChild(studentOption)
					let guestOption = document.createElement('option')
					guestOption.value = 1
					guestOption.selected = level == 1
					guestOption.innerText = 'Guest'
					permissionSelect.appendChild(guestOption)
					permissionLabel.appendChild(permissionSelect)
					permissionsDiv.appendChild(permissionLabel)
				}
			})

			socket.emit('pluginUpdate')
			socket.on('pluginUpdate', (plugins) => {
				pluginsDiv.innerHTML = ''
				for (let plugin of plugins) {
					let pluginDiv = document.createElement('div')
					pluginDiv.id = plugin.id
					pluginDiv.className = 'plugin'
					let pluginName = document.createElement('input')
					pluginName.type = 'text'
					pluginName.value = plugin.name
					pluginName.placeholder = 'Name'
					pluginName.onchange = (event) => {
						socket.emit(
							'changePlugin',
							event.target.parentElement.id,
							event.target.value,
							null
						)
					}
					pluginDiv.appendChild(pluginName)
					let pluginURL = document.createElement('input')
					pluginURL.type = 'url'
					pluginURL.value = plugin.url
					pluginURL.placeholder = 'URL'
					pluginURL.onchange = (event) => {
						let pluginURL = event.target

						if (!event.target.checkValidity()) {
							event.target.reportValidity()
							return
						}

						socket.emit(
							'changePlugin',
							pluginURL.parentElement.id,
							null,
							pluginURL.value
						)
					}
					pluginDiv.appendChild(pluginURL)
					let removePlugin = document.createElement('button')
					removePlugin.className = 'quickButton'
					removePlugin.innerText = 'Remove Plugin'
					removePlugin.onclick = (event) => {
						socket.emit(
							'removePlugin',
							event.target.parentElement.id
						)
					}
					pluginDiv.appendChild(removePlugin)
					pluginsDiv.appendChild(pluginDiv)
				}

				let addPluginForm = document.createElement('div')
				addPluginForm.id = 'addPluginForm'
				let newPluginName = document.createElement('input')
				newPluginName.id = 'newPluginName'
				newPluginName.type = 'text'
				newPluginName.placeholder = 'Name'
				addPluginForm.append(newPluginName)
				let newPluginURL = document.createElement('input')
				newPluginURL.id = 'newPluginURL'
				newPluginURL.type = 'url'
				newPluginURL.placeholder = 'URL'
				addPluginForm.append(newPluginURL)
				let submitPlugin = document.createElement('button')
				submitPlugin.className = 'quickButton'
				submitPlugin.innerText = 'Add Plug-in'
				submitPlugin.onclick = () => {
					let newPluginName = document.getElementById('newPluginName')
					let newPluginURL = document.getElementById('newPluginURL')

					if (!newPluginURL.checkValidity()) {
						newPluginURL.reportValidity()
						return
					}

					socket.emit('addPlugin', newPluginName.value, newPluginURL.value)
				}
				addPluginForm.append(submitPlugin)
				pluginsDiv.append(addPluginForm)
			})


			socket.emit('customPollUpdate')
			socket.on('customPollUpdate', (
				newPublicCustomPolls,
				newClassroomCustomPolls,
				newUserCustomPolls,
				newCustomPolls
			) => {
				publicCustomPolls = newPublicCustomPolls
				classroomCustomPolls = newClassroomCustomPolls
				userCustomPolls = newUserCustomPolls
				customPolls = newCustomPolls
				let publicPollsDiv = document.querySelector('div#publicPolls')
				let classPollsDiv = document.querySelector('div#classPolls')
				let userPollsDiv = document.querySelector('div#userPolls')

				insertCustomPolls(publicCustomPolls, publicPollsDiv, 'There are no public custom polls.')
				insertCustomPolls(classroomCustomPolls, classPollsDiv, 'This class has no custom polls.')
				insertCustomPolls(userCustomPolls, userPollsDiv, 'You have no custom polls.')
			})

			socket.on('getPollShareIds', (userPollShares, classPollShares) => {
				let userPollSharesDiv = document.getElementById('userPollShares')
				userPollSharesDiv.innerHTML = ''
				let classPollSharesDiv = document.getElementById('classPollShares')
				classPollSharesDiv.innerHTML = ''

				function addPollShare(socketName, pollName, id, pollsShareDiv) {
					let pollShareDiv = document.createElement('div')
					pollShareDiv.className = 'pollShare'
					pollShareDiv.style.display = 'flex'

					let name = document.createElement('p')
					name.innerText = pollName
					pollShareDiv.appendChild(name)

					let remove = document.createElement('button')
					remove.innerText = 'remove'
					remove.className = 'quickButton'
					remove.onclick = () => {
						socketName, currentSharePollId, id
						socket.emit(socketName, currentSharePollId, id)
					}
					pollShareDiv.appendChild(remove)

					pollsShareDiv.appendChild(pollShareDiv)
				}

				for (let pollShare of userPollShares) {
					addPollShare('removeUserPollShare', pollShare.username, pollShare.userId, userPollSharesDiv)
				}

				for (let pollShare of classPollShares) {
					addPollShare('removeClassPollShare', pollShare.name, pollShare.classId, classPollSharesDiv)
				}
			})

			var selectTags = document.createElement('dialog')
			let closeTags = document.createElement('button');
			let selectTagForm = document.createElement('form');
			selectTagForm.setAttribute('name', "selectedTags");

			var tagNames = ["Senior", "Junior", "Sophomore", "Freshman"];
			for (let i = 0; i < tagNames.length; i++) {
				let checkbox = document.createElement('input');
				checkbox.type = 'checkbox';
				checkbox.name = `tagSelector${tagNames[i]}`;
				checkbox.value = tagNames[i];
				// studentData.tags.split(",").forEach(tag => {
				// 	console.log(tag, tagNames[i]);
				// 	if (tag == tagNames[i]) {
				// 		checkbox.checked = true;
				// 	}
				// });
				let label = document.createElement('label');
				label.textContent = tagNames[i];
				label.setAttribute('for', `checkbox${i}`);

				selectTagForm.appendChild(checkbox);
				selectTagForm.appendChild(label);
				selectTagForm.appendChild(document.createElement('br'));
			}
			selectTags.appendChild(selectTagForm);
			selectTags.appendChild(closeTags);
			document.body.appendChild(selectTags);
			closeTags.textContent = 'Save';
			closeTags.addEventListener('click', function () {
				selectTags.close();
			})

			socket.emit('classBannedUsersUpdate')
			socket.on('classBannedUsersUpdate', (bannedStudents) => {
				let bannedDiv = document.querySelector('#bannedMenu.tabContent')
				bannedDiv.innerHTML = ''

				for (let bannedStudent of bannedStudents) {
					let bannedStudentDiv = document.createElement('div')
					bannedStudentDiv.className = 'bannedStudent'
					bannedStudentName = document.createElement('p')
					bannedStudentName.innerText = bannedStudent
					bannedStudentDiv.appendChild(bannedStudentName)
					unban = document.createElement('button')
					unban.innerText = 'unban'
					unban.className = 'quickButton'
					unban.onclick = () => {
						socket.emit('classUnbanUser', bannedStudent)
					}
					bannedStudentDiv.appendChild(unban)
					document.querySelector('#bannedMenu.tabContent').appendChild(bannedStudentDiv)
				}
			})

			// socket.on('connection', (socket) => {
			// 	socket.on('startPoll', (resNumber, resTextBox, pollPrompt, pollAnswers, blind, priority, selectedTags) => {
			// 		polls[pollId] = { resNumber, resTextBox, pollPrompt, pollAnswers, blind, priority, selectedTags };
			// 	});

			// 	socket.on('savePoll', (customPoll, editingPollId, selectedTags) => {
			// 		polls[editingPollId] = { ...customPoll, selectedTags };
			// 	});
			// });

			// socket.on('savePoll', (customPoll, editingPollId, selectedTags) => {
			// 	polls[editingPollId] = { ...customPoll, selectedTags };
			// });

			// app.get('/poll/:pollId', (req, res) => {
			// 	let poll = polls[req.params.pollId];
			// 	let student = students[req.user.id]; // Assuming `students` is where you store your students and `req.user.id` is the ID of the current student

			// 	if (poll.selectedTags.some(tag => student.tags.includes(tag))) {
			// 		// The student has at least one of the selected tags, so they can access the poll
			// 		res.render('poll', { poll });
			// 	} else {
			// 		// The student doesn't have any of the selected tags, so they can't access the poll
			// 		res.status(403).send('You do not have access to this poll');
			// 	}
			// });

			responsesDiv.style.display = 'none'
			startPollForm.style.display = 'none'
			endPoll.style.display = 'block'
			changeTab('usersMenu', 'mainTabs')


			socket.on('endPoll', () => {
				startPollForm.style.display = 'block'
				endPoll.style.display = 'none'
			})
		</script>
		<%- include('../partials/footer_content') %>