<%- include('../partials/header_content') %>
<%- include('../partials/sockets') %>
<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <script src='/js/iro.js'></script>
    <script src='/js/floating-ui-core.js'></script>
    <script src='/js/floating-ui-dom.js'></script>
    <script src='/js/deepObjectEqual.js'></script>
</head>

<body role="document" tabindex="0" onload="load(<%= pollStatus %>)" class="controlPanelNewBody" style="overflow: hidden;">
<%- include('../partials/formbar_header') %>
<header id='quickMenu' class="dividedThree" style="margin-bottom: 20px;">
    <div class="revampDiv upDown" id="pollDetails">
        <!-- <img src="/img/cursor.webp" alt="Hover for poll info."> -->
        <div class="pollDetailsText">
        <p><b id='pollCounter'></b></p>
        <p id='responsesCounter'></p>
    </div>
    </div>
    <div class="revampDiv leftRight">
        <p id='className'>Class Name:</p>
        <p id='classCode'>Class Code:</p>
        <p id='totalUsers'></p>
    </div>
    <div class="revampDiv leftRight timeInfo">
        <div id="timeDiv">
            <input type="number" aria-label="Timer Minutes" class="inputtedTime revampButton revampWithText" min="0" placeholder="Min" onkeydown="if(!isFinite(event.key) && event.key !== 'Tab' && event.key !== 'ArrowUp' && event.key !== 'ArrowDown' && event.key !== 'ArrowLeft' && event.key !== 'ArrowRight' && event.key !== 'Backspace' && event.key !== 'Enter') event.preventDefault();" oninput="if(this.value > 60) this.value = 60;">
            <p>:</p>
            <input type="number" aria-label="Timer Seconds" class="inputtedTime revampButton revampWithText" min="0" max="59" placeholder="Sec" onkeydown="if(!isFinite(event.key) && event.key !== 'Tab' && event.key !== 'ArrowUp' && event.key !== 'ArrowDown' && event.key !== 'ArrowLeft' && event.key !== 'ArrowRight' && event.key !== 'Backspace' && event.key !== 'Enter') event.preventDefault();" oninput="if(this.value > 59) this.value = 59;">
            <button type='button'  id='timerButton' class="circularButton"><img src="/img/play-outline.svg" alt="Start Timer"></button>
            <button type='button' id='timerStopButton' class="circularButton" hidden><img src="/img/pause-outline.svg" alt="End Timer"></button>
        </div>
        <button id='previousPollsMenu' class='quickButton tab revampButton mobileHasIcon mobileCircular showMobile' data-tab-group='mainTabs'><img src="/img/time-outline.svg" alt="Previous Polls Icon"></button>
        <button id='pollsMenu' class='quickButton tab revampButton mobileHasIcon mobileCircular showMobile' data-tab-group='mainTabs'><img src="/img/add-circle-outline.svg" alt="Custom Polls Icon"></button>
        <button id='timerMenu' class='quickButton tab revampButton mobileHasIcon mobileCircular showMobile' data-tab-group='mainTabs'><img src="/img/timer-outline.svg" alt="Timer Icon"></button>
        <button id='sortingFilterMenu' class='quickButton tab revampButton mobileHasIcon mobileCircular showMobile' data-tab-group='mainTabs'><img src="/img/grid-outline.svg" alt="Sorting & Filters Icon"></button>
        <button id='permissions' title="Permissions" class='quickButton tab circularButton' data-tab-group='mainTabs'><img src="/img/lock-closed-outline.svg" id="Settings" alt="Permissions Icon"></button>
        <button id='tags' title="Tags" class='quickButton tab circularButton' data-tab-group='mainTabs'><img src="/img/pricetags-outline.svg" alt="Tags Icon"></button>
        <button id='settingsMenu' title="Settings" class='quickButton tab circularButton' data-tab-group='mainTabs'><img src="/img/cogwheel.svg" alt="Settings Icon"></button>

    </div>
    <!-- <button id='bannedMenu' class='quickButton tab' data-tab-group='mainTabs'>Banned Users</button> -->
    <!-- <button id='lessonMenu' class='quickButton tab' data-tab-group='mainTabs'>Make a Lesson</button> -->
</header>

<div id="sortingFilterMenu" class="tabContent controlPanel" data-tab-group="mainTabs">
    <button id='usersMenu' class='backButton quickButton tab revampButton' data-tab-group='mainTabs'><img src="/img/chevron-back-outline.svg" alt="Back Icon"></button>
    
</div>

<div id="timerMenu" class="tabContent controlPanel" data-tab-group="mainTabs">
    <h1 class="mobileMenuHeader">Poll Timer</h1>
    <button id='usersMenu' class='backButton quickButton tab revampButton' data-tab-group='mainTabs'><img src="/img/chevron-back-outline.svg" alt="Back Icon"></button>
</div>

<div id="helpMenu" class="tabContent controlPanel" data-tab-group="mainTabs">
    <h1 class="mobileMenuHeader">Help</h1>
    <button id='usersMenu' class='backButton quickButton tab revampButton' data-tab-group='mainTabs'><img src="/img/chevron-back-outline.svg" alt="Back Icon"></button>
    
    <div class="helpInfo">
        <p>Navigation</p>
        <div class="helpIconInformation revampDivAlt">
            <img src="/img/time-outline.svg" alt="Previous Polls">
            <div class="helpInformation">
                <p class="helpTitle">Previous Polls</p>
                <p class="helpDesc">Load and check answers from previous polls.</p>
            </div>
        </div>
        <div class="helpIconInformation revampDivAlt">
            <img src="/img/add-circle-outline.svg" alt="Custom Polls">
            <div class="helpInformation">
                <p class="helpTitle">Custom Polls</p>
                <p class="helpDesc">Create and edit your own custom polls.</p>
            </div>
        </div>
        <div class="helpIconInformation revampDivAlt">
            <img src="/img/timer-outline.svg" alt="Poll Timer">
            <div class="helpInformation">
                <p class="helpTitle">Poll Timer</p>
                <p class="helpDesc">Set a fixed time for the current poll.</p>
            </div>
        </div>
        <div class="helpIconInformation revampDivAlt">
            <img src="/img/grid-outline.svg" alt="Extras">
            <div class="helpInformation">
                <p class="helpTitle">Extras</p>
                <p class="helpDesc">Sort / Filter members, Poll Presets, and member selection.</p>
            </div>
        </div>
        <div class="helpIconInformation revampDivAlt">
            <img src="/img/lock-closed-outline.svg" alt="Permissions">
            <div class="helpInformation">
                <p class="helpTitle">Permissions</p>
                <p class="helpDesc">Change who can do what in your classes premissions.</p>
            </div>
        </div>
        <div class="helpIconInformation revampDivAlt">
            <img src="/img/pricetags-outline.svg" alt="Tags">
            <div class="helpInformation">
                <p class="helpTitle">Tags</p>
                <p class="helpDesc">Set custom tags to create groups of members.</p>
            </div>
        </div>
        <div class="helpIconInformation revampDivAlt">
            <img src="/img/cogwheel.svg" alt="Settings">
            <div class="helpInformation">
                <p class="helpTitle">Settings</p>
                <p class="helpDesc">Edit preferences about this class.</p>
            </div>
        </div>

        <div class="spacer"></div>
        <p>Poll Buttons</p>
        
        <div class="helpIconInformation revampDivAlt">
            <img src="/img/refresh-circle-outline.svg" alt="Settings">
            <div class="helpInformation">
                <p class="helpTitle">Clear Poll</p>
            </div>
        </div>
        
        <div class="helpIconInformation revampDivAlt">
            <img src="/img/stop-circle-outline.svg" alt="Settings">
            <div class="helpInformation">
                <p class="helpTitle">End Poll</p>
            </div>
        </div>

        <div class="spacer"></div>
        <p>Starting & Ending</p>

        <div class="helpIconInformation revampDivAlt startClass">
            <img src="/img/play.svg" alt="Settings">
            <div class="helpInformation">
                <p class="helpTitle">Start Class</p>
            </div>
        </div>
        
        <div class="helpIconInformation revampDivAlt endClass">
            <img src="/img/stop.svg" alt="Settings">
            <div class="helpInformation">
                <p class="helpTitle">End Class</p>
            </div>
        </div>
    </div>
</div>

<div id='usersMenu' class='tabContent controlPanel default userMenuCp' data-tab-group='mainTabs'>
    <!-- This canvas should be the student panel pie-graph thingy -->
    <div id='VBDiv'>
        <div class="sideBySide">
            <div id="vbContainerOuter" class="revampDiv">
                <%- include('../partials/virtual_bar.ejs') %>
            </div>
            <div id="newMemberListControlPanel" class="revampDiv">
                <h1>Members</h1>
            </div>
            <div id='VBOptions' class="revampDiv">
                <!-- <button id="vbOptionsLast" class="revampButton"><p>Fast Poll</p><img src="/img/chevron-up-outline.svg" alt="Last Menu"></button> -->
                <!-- <button id="vbOptionsNext" class="revampButton"><p>Sort by:</p><img src="/img/chevron-down-outline.svg" alt="Next Menu"></button> -->
                <select name="toolbarOptions" id="toolbarOptions" class="revampButton">
                </select>
                <div id='userFilterBoxes' class='options activeControlTab'>
                    <h2 class='headerText'>Filter by:</h2>
                    <div class='headBox' id="userFilterSelections">
                        
                    </div>
                </div>
                <div id='userSortBoxes' class='options'>
                    <h2 class='headerText'>Sort by:</h2>
                    <div class='headBox' id="userSortSelections">
                        <!-- <button type='button' id='name' class='sort revampButton'>Name</button>
                        <button type='button' id='pollName' class='sort revampButton'>Poll Name</button>
                        <button type='button' id='pollTime' class='sort revampButton'>Poll Time</button>
                        <button type='button' id='helpTime' class='sort revampButton'>Help Time</button>
                        <button type='button' id='permissions' class='sort pressed revampButton'>Permissions ▼</button> -->
                    </div>
                </div>
                <div id='userSelectBoxes' class='options'>
                    <h2 class='headerText'>Select:</h2>
                    <div class='headBox' id="selectPoll">
                    </div>
                </div>
                <div id='userFastPollBoxes' class='options'>
                    <h2 class='headerText'>Fast Poll</h2>
                    <div class='headBox' id='quickPoll'>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="controlFooter" class="revampDiv">
            <div class="ongoingButtons">
                <button id='previousPollsMenu' class='quickButton tab revampButton hideMobile' data-tab-group='mainTabs'>
                    <p>Previous Polls</p>
                </button>

                <button id='pollsMenu' class='quickButton tab revampButton hideMobile' data-tab-group='mainTabs'>
                    <p>Custom Polls</p>
                </button>
                <button id='clearPoll' class="revampButton mobileHasIcon mobileCircular"  onclick='clearPollFunc()'>
                    <p>Clear Poll</p>
                    <img src="/img/refresh-circle-outline.svg" alt="Clear Poll Icon">

                </button>
                <button id='endPoll' class="revampButton mobileHasIcon mobileCircular"  onclick='endPollFunc()'>
                    <p>End Poll</p>
                    <img src="/img/stop-circle-outline.svg" alt="End Poll Icon">
                </button>
                <div class="mobileSpacer"></div>
                <button id='endClass' onclick='endClass()' class="revampButton mobileHasIcon mobileCircular">
                    <p>End Class</p>
                    <img src="/img/stop.svg" alt="End Class">
                </button>
                <button id='helpMenu' class="revampButton mobileHasIcon mobileCircular showMobile tab" data-tab-group='mainTabs'><img src="/img/help-circle-outline.svg" alt="End Class"></button>
            </div>
        </div>
    </div>
</div>

    <div id='pollsMenu' class='tabContent' data-tab-group='mainTabs' style="position: relative;">
        <button id='usersMenu' class='backButton quickButton tab revampButton' data-tab-group='mainTabs'><img src="/img/chevron-back-outline.svg" alt="Back Icon"></button>
            <h1 class="mobileMenuHeader">Custom Polls</h1>
            <div id='pollOptions' class='options customOptions'>
            <button id='publicPolls' class='quickButton tab revampButton default' data-tab-group='polls'>Public
                Polls
            </button>
            <button id='classPolls' class='quickButton tab revampButton' data-tab-group='polls'>Class
                Polls
            </button>
            <button id='userPolls' class='quickButton tab revampButton' data-tab-group='polls'>Your
                Polls
            </button>
            <button id='newPoll' class='quickButton tab revampButton' data-tab-group='polls'>Poll Editor
            </button>
        </div>
        <div id='publicPolls' class='customPolls tabContent' data-tab-group='polls'>
        </div>
        <div id='classPolls' class='customPolls tabContent' data-tab-group='polls'>
        </div>
        <div id='userPolls' class='customPolls tabContent' data-tab-group='polls'>
        </div>
        <div id='newPoll' class='customPolls tabContent' style="padding-bottom:250px;" data-tab-group='polls'>
            <div id="pollResForm">
                <div class="pollInfo revampDiv">
                    <h2>Poll Info</h2>
                    <input type='text' id='pollBox' placeholder='Prompt' class="revampButton revampWithText">
                    <div class="pollChangers">
                        <div class="pollOptionsEditorOption">
                            <h2 class="hideMobile">Multiple Answer Poll</h2>
                            <img class="showMobile pollOptionIcon" src="/img/checkmark-done-outline.svg" alt="Multi-answer Poll">
                            <input type='checkbox' id='multiRes'>
                        </div>
                        
                        <div class="pollOptionsEditorOption">
                            <h2 class="hideMobile">Text Responses</h2>
                            <img class="showMobile pollOptionIcon" src="/img/text-outline.svg" alt="Text Responses">
                            <input type='checkbox' id='resTextBox' onclick='resTextChange()'>
                        </div>
                        
                        <div class="pollOptionsEditorOption">
                            <h2 class="hideMobile">Blind Poll</h2>
                            <img class="showMobile pollOptionIcon" src="/img/eye-off-outline.svg" alt="Blind Poll">
                            <input type='checkbox' id='blind'>
                        </div>
                        
                        <div class="pollOptionsEditorOption">
                            <h2 class="hideMobile">Allow Vote Changes</h2>
                            <img class="showMobile pollOptionIcon" src="/img/ban-outline.svg" alt="Allow Vote Changes">
                            <input type='checkbox' id='allowVoteChanges' checked disabled style="cursor: not-allowed;">
                        </div>
                    </div>
    
                    <div class="pollOptionsEditorOption" style="margin-bottom: 20px;">
                        <button id='resetAnswerNames' class='quickButton revampButton'>Reset Names</button>
                        <button id='resetColors' class='quickButton revampButton'>Reset Colors</button>
                    </div>
    
                    <div class="pollOptionsEditorOption">
                        <button id="save-poll" class="revampButton acceptButton" onclick="savePollAs('user')">Save</button>
                        <button id="save-poll" class="revampButton acceptButton" onclick="savePollAs('class')">Save as Class Poll</button>
                    </div>
                    
                    <button id="save-poll" class="revampButton acceptButton" style="margin-top: 20px;" onclick="startPoll('current')">Start Without Saving</button>
                </div>
                <div class="responses revampDiv">
                    <h2>Responses</h2>
                    <input type='number' id='resNumber' min='1' max='26' step='1' value='1' hidden>
                    <div id='responses'></div>
                </div>
                <button id="addPollRes" class='quickButton revampButton acceptButton' onclick='addAnswer()'>+</button>
            </div>
            <div id='generalOptions' style="width: 50%; margin-left: 25%;">
                
                <div class="options">
                    <div class="headBox" style="border: none;">
                        </div>
                </div>
            </div>
        </div>
    </div>

    <div id='previousPollsMenu' class='tabContent' data-tab-group='mainTabs'>
        <h1 class="mobileMenuHeader">Previous Polls</h1>
        <button id='usersMenu' class='backButton quickButton tab revampButton' data-tab-group='mainTabs'><img src="/img/chevron-back-outline.svg" alt="Back Icon"></button>
        <div id='pollOptions' class='options'>
            <details id="previousPoll-template" style="order: 9997; margin: 20px; display: none" class="revampDiv previousPoll" hidden>
                <summary style="height: fit-content; margin: 20px; cursor: pointer;">
                    <span id="name"></span>
                    <span id="date"></span>
                </summary>
                <span class="previousPollResponse revampDiv" id="response-template" style="display: none"></span>
                <button id="loadPoll" class="revampButton pressed" style="width: fit-content; margin: 10px;" onclick="loadPoll(this)">Load Poll</button>
            </details>
            <div id="previousPolls"></div>
            <button style='width: 60px' class="quickButton revampButton" data-tab-group="mainTabs" id='previousPollBackward' onclick='scrollPreviousPolls("backward")'><img src="/img/arrow-back.svg" alt="Newer Polls"></button>
            <button style='width: 60px' class="quickButton revampButton" data-tab-group="mainTabs" id='previousPollForward' onclick='scrollPreviousPolls("forward")'><img src="/img/arrow-forward.svg" alt="Older Polls"></button>
        </div>
    </div>
</div>

<div id='permissions' class='tabContent' data-tab-group='mainTabs'>
    <button id='usersMenu' class='backButton quickButton tab revampButton' data-tab-group='mainTabs'><img src="/img/chevron-back-outline.svg" alt="Back Icon"></button>
    <h2 class="hideMobile">Permissions</h2>
    <h1 class="showMobile mobileMenuHeader">Permissions</h1>
    <div id='permissionsList'></div>
</div>
<div id='tags' class='tabContent' data-tab-group='mainTabs'>
    <button id='usersMenu' class='backButton quickButton tab revampButton' data-tab-group='mainTabs'><img src="/img/chevron-back-outline.svg" alt="Back Icon"></button>
    <h2 class="hideMobile">Tags</h2>
    <h1 class="showMobile mobileMenuHeader">Tags</h1>
    <div class="tagsHolder">
        <div id="tagOptions" class="revampDiv">
            <div>
                <textarea class="revampButton revampWithText" id="tagInput" placeholder="Add Tag (tag1, tag2, ...)" style="height: 5.5vh;"></textarea>
                <button class="circularButton" id="addTagButton"><img src="/img/checkmark-outline.svg"></button>
            </div>
        </div>
        <div id='tagsList' class="revampDiv"></div>
    </div>
</div>

<div id="pollPreview" class="revampDiv"></div>

<div id='settingsMenu' class='tabContent' data-tab-group='mainTabs'>
    <button id='usersMenu' class='backButton quickButton tab revampButton' data-tab-group='mainTabs'><img src="/img/chevron-back-outline.svg" alt="Back Icon"></button>
    <h2 class="hideMobile">Settings</h2>
    <h1 class="showMobile mobileMenuHeader">Settings</h1>
    
    <div id="settingsFunc">
        <div class="settingsFuncClassName">
            <input type="text" id="classNameInput" class="revampButton revampWithText" placeholder="New class name">
            <button id="changeClassNameButton" class="revampButton" onclick="changeClassName()">Change Class Name</button>
        </div>
        <div class="settingsFuncButtons">
            <button id="kickUsers" class="revampButton warningButton" onclick="kickAll()">
                Kick All Students
            </button>
            <button class="revampButton warningButton" onclick="regenerateAccessCode()">
                Regenerate Code
            </button>
        </div>
    </div>
</div>
<dialog id='sharePollDialog'>
    <button
            onclick=`(()=>{currentSharePollId = null;
        document.getElementById('sharePollDialog').close()})()`>Close
    </button>
    <p>
        <label for='share'>Share to User</label>
        <input type='text' name='share' id='sharePollUserInput' pattern='[a-z0-9]+'
                placeholder='Email' onkeypress=`if(event.key == 'Enter') sharePoll('user')`>
    </p>
    <div id='userPollShares'></div>
    <p>
        <label for='share'>Share to Class</label>
        <input type='text' name='share' id='sharePollClassInput' pattern='[a-z0-9]+'
                placeholder='Class Code' onkeypress=`if(event.key == 'Enter') sharePoll('class')'`>
    </p>
    <div id='classPollShares'></div>
</dialog>
<%- include('../partials/body_content') %>

<details id="student-fake" class="controlStudent revampDiv" style="opacity: 0.65; order: 9997; display: none;" hidden>
    <summary>
        <span id="alerts"></span>
        <span>
            <input type="checkbox" id="checkbox_fake" name="studentCheckbox">
        </span>
        <span id="email"></span>
        <span id="studentTags"></span>
        <div id="response"></div>
        <div id="reasons" class="revampDiv">
            <div id="helpReason"></div>
            <div id="breakReason"></div>
        </div>
    </summary>
    <div id="permissions"></div>
    <div id="roomTags"></div>
    <div id="digipogButtons"></div>
    <div id="extraButtons"></div>
</details>
</div>
<div id='bannedMenu' class='tabContent' data-tab-group='mainTabs'></div>
</body>

</html>
<script src='/js/tabs.js'></script>
<script>
    let userCustomPolls = []
    let classroomCustomPolls = []
    let publicCustomPolls = []
    let customPolls = []
    let editingPollId = null
    let currentSharePollId = null
    let currentSharePollType = null
    let classroom = {}
    let vbContainerOuter = document.getElementById('vbContainerOuter');
    let vbContainer = document.getElementById('vbContainer');
    let vbOptions = document.getElementById('VBOptions');
    let pollDetails = document.getElementById('pollDetails');
    let timeDiv = document.getElementById('timeDiv');
    let sortingFilterMenu = document.querySelector('div#sortingFilterMenu.tabContent');
    let timerMenu = document.querySelector('div#timerMenu.tabContent');
    let nonMobileTimerMenu = document.querySelector('div.revampDiv.leftRight.timeInfo');
    let sideBySide = document.querySelector('.sideBySide');

    function mobileMove() {
        if(orientation == 'portrait') {
            timerMenu.appendChild(timeDiv);
            pollDetails.appendChild(vbContainer);
            sortingFilterMenu.appendChild(vbOptions);
        } else {
            nonMobileTimerMenu.insertBefore(timeDiv, nonMobileTimerMenu.firstChild);
            vbContainerOuter.appendChild(vbContainer);
            sideBySide.appendChild(vbOptions);
        }
    }

    window.addEventListener('resize', () => {mobileMove()});

    mobileMove()

    let letterString = 'abcdefghijklmnopqrstuvwxyz'
    let generatedColors = []
    let pollResponses = []
    let colorPickers = []
    let multiRes = document.getElementById('multiRes')
    let usersDiv = document.getElementById('newMemberListControlPanel')
    let resNumber = document.getElementById('resNumber')
    let resTextBox = document.getElementById('resTextBox')
    let endPoll = document.getElementById('endPoll')
    let clearPoll = document.getElementById('clearPoll')
    let startPollForm = document.getElementById('startPollForm')
    let pollPrompt = document.getElementById('pollBox')
    let permSort = document.getElementById('permSort')
    let responsesDiv = document.getElementById('responses')
    let resetAnswerNamesButton = document.getElementById('resetAnswerNames')
    let resetColorsButton = document.getElementById('resetColors')
    let toPollsButton = document.getElementById('toPolls')
    let toPollHistoryButton = document.getElementById('toPollHistory')
    let blindCheck = document.getElementById('blind')
    let allowVoteChanges = document.getElementById('allowVoteChanges')
    let className = document.getElementById('className')
    let classCode = document.getElementById('classCode')
    let mainPolls = document.getElementById('menuPolls')
    let savePollButton = document.getElementById('save-poll')
    let sharePollDialog = document.getElementById('sharePollDialog')
    let sharePollUserInput = document.getElementById('sharePollUserInput')
    let sharePollClassInput = document.getElementById('sharePollClassInput')
    let permissionsDiv = document.querySelector('#permissionsList')
    let tagsDiv = document.querySelector('#tagsList');
    let tagOptionsDiv = document.querySelector('#tagOptions');
    let bannedTabButton = document.querySelector('.tab#bannedMenu')
    let pollsTabButton = document.querySelector('.tab#pollsMenu')
    let settingsTabButton = document.querySelector('.tab#settingsMenu')
    let permissionsTabButton = document.querySelector('.tab#permissions')
    let generalOptionsDiv = document.getElementById('generalOptions');
    let responsesCounter = document.getElementById('responsesCounter');
    let userFilterSelections = document.getElementById('userFilterSelections')
    let userSortSelections = document.getElementById('userSortSelections')
    let totalUsers = document.getElementById('totalUsers')
    let responseDivs = document.getElementsByClassName('response');

    // let vbOptionsLast = document.getElementById('vbOptionsLast');
    // let vbOptionsNext = document.getElementById('vbOptionsNext');
    
    let toolbarOptions = document.getElementById('toolbarOptions');

    let sidebarOptionsIDs = [
        {
            elementID: 'userFilterBoxes',
            optionName: 'Filters',
        },
        {
            elementID: 'userSortBoxes',
            optionName: 'Sort',
        },
        {
            elementID: 'userSelectBoxes',
            optionName: 'Select',
        },
        {
            elementID: 'userFastPollBoxes',
            optionName: 'Fast Poll',
        }
    ]

    sidebarOptionsIDs.forEach((item) => {
        let option = document.createElement('option');
        option.value = item.elementID;
        option.text = item.optionName;
        toolbarOptions.add(option);
    });
    
    toolbarOptions.onchange = (e) => {
        showOption(e.target.value);
    }

    function showOption(optionID) {
        let activeEl = null;

        sidebarOptionsIDs.forEach((item) => {
            document.getElementById(item.elementID).classList.remove('activeControlTab');
            if(item.elementID == optionID) document.getElementById(item.elementID).classList.add('activeControlTab')
        });
    }

    

    // Function runs on page load
    // Checks if poll is active or not and displays correct output
    let rooms;
    socket.on('classUpdate', (classroomData) => {
        rooms = classroomData
    })
    let classTags = '<%= tags %>';

    // Alerts the user if they try to start a poll without a prompt or responses
    function pollCheck() {
        if (pollPrompt.value == '' && responsesDiv.children.length == 0) {
            alert('Please enter a prompt for the poll and add responses')
        } else if (pollPrompt.value == '') {
            alert('Please enter a prompt for the poll')
        } else if (responsesDiv.children.length == 0) {
            alert('Please add responses to the poll')
        } else {
            startPoll()
        }
    }

    // Check if the class is currently active and change the "Start Class" button depending on state
    socket.emit("isClassActive")
    socket.on("isClassActive", (isActive) => {
        setClassActiveState(isActive);
    });

    // Changes the text for the "Start Class" button depending on the state of the class
    function setClassActiveState(isActive) {
        classroom.isActive = isActive;
        const startClassButton = document.getElementById('startClass');
        const endClassButton = document.getElementById('endClass');

        if (isActive) {
            if (startClassButton) {
                startClassButton.innerHTML = '<p>End Class</p><img src="/img/stop.svg" alt="End Class">';
                startClassButton.onclick = endClass;
                startClassButton.id = 'endClass';
            }
        } else {
            if (endClassButton) {
                endClassButton.innerHTML = '<p>Start Class</p><img src="/img/play.svg" alt="Start Class">';
                endClassButton.onclick = startClass;
                endClassButton.id = 'startClass';
            }
            endPollFunc();
        }
    }

    function startClass() {
        socket.emit('startClass')
        setClassActiveState(true);
    }

    function endClass() {
        if (confirm('Are you sure you want to end the class?')) {
            socket.emit('endClass')
            setClassActiveState(false);
        }
    }

    function regenerateAccessCode() {
        if (confirm("Are you sure you want to regenerate the class code?")) {
            socket.emit('regenerateClassCode');
        }
    }

    function changeClassName() {
        const newClassName = document.getElementById('classNameInput').value;
        if (!newClassName) return;
        if (confirm(`Are you sure you want to change the class name to "${newClassName}"?`)) {
            socket.emit('changeClassName', newClassName);
        }
    }

    function kickAll() {
        if (confirm('Are you sure you want to kick all students?')) {
            socket.emit('classKickStudents');
        }
    }

    const previousPollsDiv = document.getElementById('previousPolls');
    const previousPollTemplate = document.getElementById('previousPoll-template');
    const previousPollBackButton = document.getElementById('previousPollBackward');
    const previousPollForwardButton = document.getElementById("previousPollForward");
    const customPollPromptElement = document.getElementById('pollBox');
    const customPollsButton = document.querySelector('.quickButton.tab[data-tab-group="mainTabs"]#pollsMenu');
    const addResponseButton = document.getElementById('addPollRes');
    let currentPreviousPolls = []; // Holds the current page of previous poll data
    let currentPreviousPollIndex = 0; // Used to keep track of which page of previous polls we're on
    let totalPreviousPolls = 0; // Used to keep track of how many previous polls there are. This is set at the getPreviousPolls socket event.

    // Loads previous polls from an index
    // This index will decide which page of previous polls to load
    // Each page has 20 previous polls, so to go to the second page, you would do socket.emit('getPreviousPolls', 20)
    // This might want to be simplified to handle the number previous polls on a page on the server in the future
    function loadPreviousPolls(index) {
        socket.emit('getPreviousPolls', index);
    }

    async function loadPoll(button) {
        const previousPollElement = button.parentElement;
        const pollId = previousPollElement.id;
        const previousPoll = currentPreviousPolls.find(poll => poll.id == pollId);
        const previousPollData = JSON.parse(previousPoll.data);
        const responses = []; // Holds all possible responses for the poll
        let customPollResponseChildren = responsesDiv.children;

        // Check if previous poll data has responses
        // Legacy polls do not have this data, which makes loading poll less reliable as the
        // possible responses were never stored. Only student's responses were stored.
        if (previousPollData.responses) {
            for (const response in previousPollData.responses) {
                const responseData = previousPollData.responses[response];
                responses.push(responseData);
            }
        } else {
            // Loop through student responses and add them to responses list
            for (const letterResponse of previousPollData.letter) {
                // Skip if the response is empty or already in the array
                if (letterResponse == '' || responses.indexOf(letterResponse) != -1) continue;
                responses.push(letterResponse);
            }
        }

        // Get all responses by id removeAnswer
        const removeAnswerButtons = document.querySelectorAll('[id=removeAnswer]');
        for (const removeAnswerButton of removeAnswerButtons) {
            removeAnswerButton.click();
        }

        // Open custom polls tab and input the poll data
        customPollsButton.click();
        customPollPromptElement.value = previousPollData.prompt;
        for (const responseIndex in responses) {
            // Add a new response input
            addResponseButton.click();
            customPollResponseChildren = responsesDiv.children;

            const response = responses[responseIndex];
            const responseInput = customPollResponseChildren[responseIndex].querySelector('.answerName');
            const hexInput = responseInput.parentElement.querySelector('.hexInput');
            if (Array.isArray(response)) {
                // If it's a legacy poll, treat it like just an array of text
                responseInput.value = response;
            } else {
                // If it's not a legacy poll, use the data available
                hexInput.value = response.color;
                responseInput.value = response.answer;
            }

            // Trigger the onchange events to update the inputs
            responseInput.onchange?.({ target: responseInput }); // Trigger the onchange event to update the response answer
            hexInput.onchange?.({ target: hexInput, preventDefault() { } });

        }
    }

    // Scrolls previous polls page forward and backward
    // Shows 20 previous polls at a time to prevent sending too much data over websockets
    function scrollPreviousPolls(direction) {
        if (direction === "forward") {
            // Prevent currentPreviousPollIndex from going over the total number of previous polls
            if (currentPreviousPollIndex + 20 > totalPreviousPolls) {
                currentPreviousPollIndex = Math.max(0, totalPreviousPolls - 20);
            } else {
                currentPreviousPollIndex += 20;
            }
        } else {
            // Check if we're at the beginning and if currentPreviousPollIndex - 20 is below 0, set it to zero
            if (currentPreviousPollIndex - 20 < 0) {
                currentPreviousPollIndex = 0;
            } else {
                currentPreviousPollIndex -= 20;
            }
        }

        // Request the previous poll data from the server
        loadPreviousPolls(currentPreviousPollIndex);
    }

    // Load the initial previous polls
    // Begins at index 0
    loadPreviousPolls(currentPreviousPollIndex);

    // When new data is retrieved, display it
    socket.on('getPreviousPolls', (previousPolls, total) => {
        // Set the total number of previous polls
        totalPreviousPolls = total;
        currentPreviousPolls = previousPolls;

        // Remove all the previous polls from the div
        while (previousPollsDiv.firstChild) {
            previousPollsDiv.removeChild(previousPollsDiv.firstChild);
        }

        // If there are no previous polls, display a message
        if (previousPolls.length === 0) {
            previousPollsDiv.innerHTML = "<p style='text-align: center;'>No previous polls to display</p>";
        }

        // If currentPreviousPollIndex is zero, hide the back button
        // If currentPreviousPollIndex is greater than or equal to totalPreviousPolls - 20, hide the forward button
        previousPollBackButton.hidden = currentPreviousPollIndex === 0;
        previousPollForwardButton.hidden = currentPreviousPollIndex >= totalPreviousPolls - 20;

        // Build each previous poll
        for (const previousPoll of previousPolls) {
            const previousPollData = JSON.parse(previousPoll.data);
            const previousPollClone = previousPollTemplate.cloneNode(true);
            const pollNameElement = previousPollClone.querySelector('#name');
            const pollDateElement = previousPollClone.querySelector('#date');
            const responseTemplate = previousPollClone.querySelector('#response-template');
            const loadPoll = previousPollClone.querySelector('#loadPoll');

            // Set the poll name
            const fixedDate = previousPoll.date.replaceAll(' ', ''); // Remove spaces from date due to an issue with the way they were being stored
            pollNameElement.innerText = `${previousPollData.prompt}`;
            pollDateElement.innerText = `${fixedDate}`;

            // Create a response div for each user response
            for (const nameIndex in previousPollData.names) {
                const name = previousPollData.names[nameIndex];
                const userTextResponse = previousPollData.text[nameIndex];
                let userLetterResponse = previousPollData.letter[nameIndex];

                // If the response data exists, use it to color the user's response
                if (previousPollData.responses) {
                    userLetterResponse = `<span style='font-weight:bold;color: ${userLetterResponse !== "" ? previousPollData.responses[userLetterResponse]?.color : ""}'>${userLetterResponse || "No response"}</span>`;
                }

                // Create a new response div
                const responseDiv = responseTemplate.cloneNode(true);
                responseDiv.id = `response-${name}`;
                responseDiv.innerHTML = userLetterResponse ? `${name}: ${userLetterResponse}` : `${name}: No response`;
                responseDiv.style.display = `block`;

                // If there is a text response, add it to the response div
                if (userTextResponse) {
                    const textResponseDiv = document.createElement('div');
                    textResponseDiv.innerText = `Text response: ${userTextResponse}`;
                    responseDiv.appendChild(textResponseDiv);
                }

                // Append the response div to the previous poll clone
                previousPollClone.id = previousPoll.id;
                previousPollClone.insertBefore(responseDiv, loadPoll);
            }


            // Display the previous poll div
            previousPollClone.style.display = "block";
            previousPollsDiv.appendChild(previousPollClone);
        }
    });

    // Handle settings
    const settings = '<%- settings %>';


    const FilterState = {
        answeredPoll: "Answered Poll",
        alert: "Alerts",
        canVote: "Can Vote",
        // byTag: "By Tag"        
    }

    const SortState = {
        responseOrder: "Response Order",
        responseText: "Response Text",
        responseTime: "Response Time",

        helpTime: "Help Time",

        permissions: "Permissions"
    }

    // 0 = off
    // 1 = only
    // 2 = except
    let filter = {}
    // Keep sort always consistent with FilterState options
    Object.keys(FilterState).forEach(key => {
        filter[key] = 0;
    });

    // 0 = off
    // 1 = descending
    // 2 = ascending
    let sort = {}
    // Keep sort always consistent with SortState options
    Object.keys(SortState).forEach(key => {
        sort[key] = 0;
    });

    for (const [key, value] of Object.entries(FilterState)) {
        let filterButton = document.createElement('button');
        filterButton.type = 'button';
        filterButton.id = key;
        filterButton.className = 'filter revampButton';
        filterButton.innerText = value;

        userFilterSelections.appendChild(filterButton);
    }

    for (const [key, value] of Object.entries(SortState)) {
        let sortButton = document.createElement('button');
        sortButton.type = 'button';
        sortButton.id = key;
        sortButton.className = 'sort revampButton';
        sortButton.innerHTML = value + '<div><img src="/img/swap-vertical.svg" class="sortAscendDescendBG" alt="Ascend / Descend"><img src="/img/swap-vertical-down.svg" class="currentSortIcon"></div>';

        userSortSelections.appendChild(sortButton);
    }

    // Handle mute button
    let mute = settings.mute;
    setMuteSound(mute)

    function setMuteSound(isMuted) {
        mute = isMuted;
        document.getElementById('muteButton').style.display = mute ? "none" : "flex";
        document.getElementById('unmuteButton').style.display = !mute ? "none" : "flex";
    }

    function toggleMuteSound() {
        setMuteSound(!mute);
        socket.emit('setClassSetting', 'mute', mute);
    }

    socket.on('awardDigipogsResponse', ({ success, message }) => {
        if(!success) console.log(message);
        alert(message);
    })

    function toggleMoreOptions() {
        const moreOptions = document.querySelector('.pollOptionsEditor');
        const moreOptionsArrow = document.getElementById('moreOptionsArrow');
        moreOptions.classList.toggle('open');
        moreOptions.classList.contains('open') ? moreOptionsArrow.src = '/img/chevron-down-outline.svg' : moreOptionsArrow.src = '/img/chevron-up-outline.svg';
    }

</script>
<script src='/js/controlPanelStudents.js'></script>
<script src='/js/controlPanelPolls.js'></script>
<script src='/js/sockets/classUpdate.js'></script>
<script src='/js/modules/tags.js'></script>
<script src='/js/controlPanelSockets.js'></script>

<%- include('../partials/footer_content') %>

</html>
