<%- include('../partials/header_content') %>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="../../socket.io/socket.io.js"></script>
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    </head>

    <body onload="load(<%-pollStatus%>)">
        <header>
            <button id="permissions" onclick="toPermissions()">Permissions</button>
            <button id="polls" onclick="toPolls()">Polls</button>
        </header>
        <div id="permChanges">
            <% students.forEach( (studs)=> { %>
                <p>
                    <%- studs.name %>
                </p>
                <select name="permSwitch" id="permSwitch" data-userid="<%- studs.name %>" onchange="updatePerms(this);">
                    <option value="0" <% if (studs.perms==0) {%>selected<%}%>>Teacher</option>
                    <option value="1" <% if (studs.perms==1) {%>selected<%}%>>Bot</option>
                    <option value="2" <% if (studs.perms==2) {%>selected<%}%>>Student</option>
                    <option value="3" <% if (studs.perms==3) {%>selected<%}%>>Guest</option>
                </select>
                <%})%>
        </div>
        <div id="pollChanges">
            <form id="startPollForm">
                <label for="resNumber">How many possible responses?</label>
                <input type="number" id="resNumber">
                <button onclick="startPollFunc()">Start Poll</button>
            </form>
            <button id="endPoll" onclick="endPollFunc()" hidden>End Poll</button>
        </div>
    </body>

    </html>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
        var permChanges = document.getElementById('permChanges')
        var pollChanges = document.getElementById('pollChanges')
        var startPoll = document.getElementById('startPoll')
        var resNumber = document.getElementById('resNumber')
        var endPoll = document.getElementById('endPoll')
        var startPollForm = document.getElementById('startPollForm')

        

        function load(pollStatus) {
            pollChanges.style.display = 'none'
            permChanges.style.display = 'block'
            if (pollStatus) {
                startPollForm.style.display = 'none'
                endPoll.style.display = 'block'
            } else {
                startPollForm.style.display = 'block'
                endPoll.style.display = 'none'
            }
        }

        function toPolls() {
            pollChanges.style.display = 'block'
            permChanges.style.display = 'none'
        }

        function toPermissions() {
            pollChanges.style.display = 'none'
            permChanges.style.display = 'block'
        }

        function startPollFunc() {
            socket.emit('startPoll', resNumber.value);
            socket.emit('reload');
            startPollForm.style.display = 'none'
            endPoll.style.display = 'block'
        }

        function endPollFunc() {
            socket.emit('endPoll');
            socket.emit('reload');
            startPollForm.style.display = 'block'
            endPoll.style.display = 'none'
        }

        function updatePerms(e) {
            socket.emit('permChange', e.dataset.userid, e.value);
        }
    </script>
    <%- include('../partials/footer_content') %>