<%- include('../partials/header_content') %>
    <%- include('../partials/sockets') %>

        <body id="colorContent">
            <div id="content" class="contentBox">
                <form action="createClass" method="post" id="selectClass" class="hidden">
                    <h2 class="headerText">Select a class</h2>
                    <select id="startClass" name="name">
                        <% ownerClasses.forEach(rooms=> { %>
                            <option value="<%- rooms %>">
                                <%- rooms %>
                            </option>
                            <% }) %>
                    </select>
                    <input type="text" name="submittionType" value="select" hidden>
                    <input type="submit" id="submitButton" class="quickButton" value="Go" onsubmit="return false;">
                </form>
                <form action="createClass" method="post" id="createClass">
                    <h2 class="headerText">Create a class</h2>
                    <input type="text" id="usernameBox" name="name" placeholder="Class Name" value="" autocomplete="off"
                        required>
                    <input type="text" name="submittionType" value="create" hidden>
                    <input type="submit" id="submitButton" class="quickButton" value="Create" onsubmit="return false;">
                </form>
                <h2 class="headerText">Delete a class</h2>
                <select id="deleteClass" name="name">
                    <% ownerClasses.forEach(rooms=> { %>
                        <option value="<%- rooms %>">
                            <%- rooms %>
                        </option>
                        <% }) %>
                </select>
                <label for="deletePolls">Do you want to also delete it's polls</label>
                <input type="checkbox" id="deletePolls">
                <button class="quickButton" onclick="deleteClass()">Delete</button>
            </div>
        </body>

        <script>
            if ("<%- ownerClasses %>") document.getElementById("selectClass").classList.remove("hidden");

            function deleteClass() {
                let className = document.getElementById('deleteClass').value
                let deletePolls = document.getElementById('deletePolls').checked

                socket.emit('deleteClass', className, deletePolls)
            }
        </script>