<!DOCTYPE html>
<%- include('../partials/header_content') %>
    <%- include('../partials/sockets') %>
        <html lang="en">

        <body style="font-size: 18px;">
            <%- include('../partials/formbar_header') %>
                <%- message %><br>
                <br>
                <button onclick="history.back();">Go back</button>
                <%- include('../partials/body_content') %>
        </body>

        <script>
            var today = new Date()

            function help() {
                var reason = document.getElementById('ticket').value
                var time = {
                    hours: today.getHours(),
                    minutes: today.getMinutes(),
                    seconds: today.getSeconds()
                }
                console.log(reason.length)
                alert('Help Ticket Sent')
                socket.emit('help', reason, time)
                socket.emit('cpupdate')
                socket.emit('sfxPlay', "sfx_up04")
            }
        </script>

        </html>