<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polls</title>
</head>
<body onload="load(<%-pollStatus%>, <%-posPollRes%>)">
    <h1 id="noPoll">No Poll Is Active Currently</h1>
    <div id="poll">
    <form action="/poll" method="post" id="pollForm">
        
    </form>
    
</div>
</body>
<script src="/socket.io/socket.io.js"></script>

<script>
               var socket = io();
               var a = document.getElementById('a')
               var b = document.getElementById('b')
               var c = document.getElementById('c')
               var d = document.getElementById('d')
               function submit(){
                if(a.checked){
                    socket.emit('pollResp', '<%-user%>' , a.value);
                }else if(b.checked){
                    socket.emit('pollResp',  '<%-user%>' , b.value);
                }else if(c.checked){
                    socket.emit('pollResp',  '<%-user%>', c.value);
                }else if(d.checked){
                    socket.emit('pollResp',  '<%-user%>', d.value);
                } else{
                    return false;
                }
            };

            function submitPoll(e) {
                socket.emit('pollResp', e);
            }
            var pollForm = document.getElementById('pollForm')



            var poll = document.getElementById('poll')
            var noPoll = document.getElementById('noPoll')
            function load(pollStatus, posPollRes) {
                if (pollStatus) {
                    noPoll.style.display = 'none'
                    poll.style.display = 'block'
                    var letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
                    for (let i = 0; i < posPollRes; i++) {
                        pollForm.innerHTML += `<input type="radio" name="poll" id="${letters[i]}" value="${letters[i]}"> <label for="${letters[i]}">${letters[i].toUpperCase()}</label>`
                    }
                    pollForm.innerHTML += `<br><button onclick="submitPoll()">Submit</button>`
                } else {
                    noPoll.style.display = 'block'
                    poll.style.display = 'none'
                }

            }

            socket.on('reload', function() {
                location.reload()
            })
</script>
</html>