<!DOCTYPE html>
<%- include('../partials/header_content') %>
<%- include('../partials/sockets') %>

        <html lang="en">

        <head>
            <style>
                body {
                    padding-top: 52px !important;
                }

                table {
                    outline: none !important;
                    border-spacing: 0;
                    width: 100%;
                    table-layout: fixed;
                }

                td, th {
                    padding: 20px 0;
                    border-bottom: 2px solid var(--lightMode-menu-border);
                    word-wrap: break-word;
                    overflow: hidden;
                }

                tr {
                    position: relative;
                }

                div.transactionHistory {
                    width: 100%;
                    height: 100vh;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    overflow: scroll;
                    flex-direction: column;
                    padding: 5px 0 60px 0;
                }
                
                .buttons {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    margin-top: 10px;
                }

                .description {
                    max-width: 200px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                /* Column width controls */
                th:nth-child(1), td:nth-child(1) { width: 15%; } /* Name */
                th:nth-child(2), td:nth-child(2) { width: 10%; } /* Owner */
                th:nth-child(3), td:nth-child(3) { width: 15%; } /* Members */
                th:nth-child(4), td:nth-child(4) { width: 30%; } /* Description */
                th:nth-child(5), td:nth-child(5) { width: 10%; } /* Amount */
                th:nth-child(6), td:nth-child(6) { width: 20%; } /* Options */

                div.membersOptions {
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: #000a;
                    width: 100dvw;
                    height: 100dvh;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    z-index: 4;
                    gap: 20px;
                    backdrop-filter: blur(10px);
                    pointer-events: none;
                    opacity: 0;
                    transition: 0.2s opacity ease-in-out;
                }

                div.membersOptions.open {
                    pointer-events: all;
                    opacity: 1;
                }
            </style>
        </head>

        <body role="document" tabindex="0">
            <%- include('../partials/formbar_header') %>

            
            <div class="transactionHistory">
                <h1>Your pog pools!</h1>

                <table class="revampDiv">
                    <tr>
                        <th>Name</th>
                        <th>Owner</th>
                        <th>Members</th>
                        <th>Description</th>
                        <th>Amount</th>
                        <th>Options</th>
                    </tr>

                    <% if(pools.length > 0 && JSON.parse(pools).length > 0) { JSON.parse(pools).forEach(function(pool) { %>
                        <tr id="pool-<%=pool.id%>">
                            <td class="description"><%= pool.name %></td>
                            <td><%= pool.owner.id == currentUser.id ? "You" : pool.owner.id %></td>
                            <td><%= pool.members.length > 0 ? pool.members.map(e => e.id).join(', ') : "None" %></td>
                            <td class="description" title="<%= pool.description %>"><%= pool.description %></td>
                            <td><%= pool.amount %></td>
                            <td>
                                <div style="display: flex; gap: 5px; justify-content: center;">
                                    <% if(pool.owner.id == currentUser.id) { %>
                                        <button class="revampButton acceptButton squareButton" style="padding: 5px;" onclick="membersOptions.classList.add('open');membersOptions.dataset.poolId = <%= pool.id %>;">
                                            <img src="/img/person.svg" alt="Add or Remove Members" style="filter: invert(0) !important">
                                        </button>
                                        <% if(pool.id !== 0) { %>
                                            <button class="revampButton warningButton squareButton" style="padding: 5px;" onclick="socket.emit('poolDelete', { poolId: <%= pool.id %> })">
                                                <img src="/img/trash-outline.svg" alt="Delete Pool" style="filter: invert(0) !important">
                                            </button>
                                        <% } else { %>
                                            <button class="revampButton warningButton squareButton" style="padding: 5px;" disabled>
                                                <img src="/img/trash-outline.svg" alt="Delete Pool" style="filter: invert(0) !important">
                                            </button>
                                        <% } %>
                                    <% } else { %>
                                        <div>
                                            You do not own this pool.
                                        </div>
                                    <% } %>
                                </div>
                            </td>
                        </tr>
                    <% }); } else { %>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>You currently have no pools.</td>
                            <td></td>
                            <td></td>
                        </tr>
                    <% } %>
                </table>
            </div>

            <button class="revampButton acceptButton" style="position: fixed; bottom: 20px; right: 20px; padding: 15px 25px; font-size: 18px;" onclick="createPool()">
                Create Pool
            </button>

            <div class="membersOptions" data-pool-id="-1">
                <button class="backButton revampButton" style="margin-top: 70px;margin-left: 10px;" onclick="membersOptions.classList.remove('open');membersOptions.dataset.poolId = -1;">
                    <img src="/img/close-outline.svg" alt="Close Member Options" style="filter: invert(1) !important;">
                </button>

                <div class="addMember">
                    <h2>Add Member</h2>
                    <input type="number" id="addMemberUserId" class="revampButton revampWithText" placeholder="User ID" style="width: 100%; padding: 10px; margin-bottom: 10px;" autocomplete="off">
                    <button class="revampButton acceptButton" style="width: 100%;" onclick="memberOption(true)">Add Member</button>
                </div>
                <div class="removeMember">
                    <h2>Remove Member</h2>
                    <input type="number" id="removeMemberUserId" class="revampButton revampWithText" placeholder="User ID" style="width: 100%; padding: 10px; margin-bottom: 10px;" autocomplete="off">
                    <button class="revampButton warningButton" style="width: 100%;" onclick="memberOption(false)">Remove Member</button>
                </div>
            </div>
        </body>
                
        <script>
            
            let pools = <%- pools !== '' ? pools : [] %>;

            socket.on('poolCreateResponse', (data) => {
                location.reload();
            })

            socket.on('poolDeleteResponse', (data) => {
                location.reload();
            })

            socket.on('poolAddMemberResponse', (data) => {
                location.reload();
            })

            socket.on('poolRemoveMemberResponse', (data) => {
                location.reload();
            })

            socket.on('poolPayoutResponse', (data) => {
                location.reload();
            })

            function createPool() {
                let name = prompt("Enter a name for the pool:");
                if(!name) return alert("You must enter a name to create a pool.");

                let description = prompt("Enter a description for the pool:");
                if(!description) return alert("You must enter a description to create a pool.");

                socket.emit('poolCreate', { name: name, description: description });
            }

            const membersOptions = document.querySelector('.membersOptions');

            function memberOption(add=true) {
                const poolId = parseInt(membersOptions.dataset.poolId) || -1;
                if(poolId < 0) return;

                let userIdInputId = add ? "addMemberUserId" : "removeMemberUserId";

                let userId = document.getElementById(userIdInputId).value;
                if(!userId) return alert("You must enter a user ID to add a member.");

                if(!parseInt(userId) || parseInt(userId) <= 0) return alert("You must enter a valid user ID to add a member.");

                if(add) {
                    socket.emit('poolAddMember', { poolId: poolId, userId: parseInt(userId) });
                } else {
                    socket.emit('poolRemoveMember', { poolId: poolId, userId: parseInt(userId) });
                }

            }
        </script>
</html>