<%- include('../partials/header_content') %>
    <%- include('../partials/sockets') %>
    <%- include('../partials/formbar_header') %>
    <style>
        #apiKey {
            white-space: pre;
        }
    </style>
        <body style="display: flex;" role="document" tabindex="0">
            <div id='profileInformation' class="revampDiv">
                <h1>Profile Information</h1>
                <p id='displayName''><strong>Display Name:</strong> <%- displayName %></p>

                <% if (email !== "Hidden") { %> <!-- If the user doesn't have permissions to see the email, don't show it -->
                    <p id="email"><strong>Email:</strong> <%- email %></p>
                <% } %>

                <p id='digipogs''><strong>Digipogs:</strong> <%- digipogs %></p>
                <p id='userId''><strong>ID:</strong> <%- id %></p>
                <p id='apiKey'><strong>API Key:</strong> █</p>
                <div id='apiKeyButton'>
                    <button onclick="copyApiKey()" class="revampButton">
                        Copy API Key
                    </button>
                    <button id="showHideApi" onclick="revealApiKey()" class="revampButton">
                        Reveal API Key
                    </button>
                    <button id='apiRefresh' onclick='refreshApiKey()' class="revampButton warningButton">
                        Refresh API Key
                    </button>
                </div>
            </div>
        </body>
        <script>
            let apiKeyValue = '<%- API %>';
            if (apiKeyValue == '') {
                document.querySelectorAll('[id*="api"]').forEach(element => {
                    element.remove();
                });
            }

            let apiKey = document.getElementById('apiKey');
                
            function copyApiKey() {
                navigator.clipboard.writeText(apiKeyValue);
            }

            function revealApiKey() {
                let showHideApi = document.getElementById('showHideApi');
                apiKey.innerHTML = '<strong>API Key:</strong> ' + apiKeyValue;
                showHideApi.setAttribute("onclick", "hideApiKey()");
                showHideApi.innerText = 'Hide API Key';
            }

            function hideApiKey() {
                let showHideApi = document.getElementById('showHideApi');

                apiKey.innerHTML = `<strong>API Key:</strong> ${'█'.repeat(apiKeyValue.length / 2)}`;
                showHideApi.setAttribute("onclick", "revealApiKey()");
                showHideApi.innerText = 'Reveal API Key';
            }

            hideApiKey();

            function refreshApiKey() {
                const confirmButton = document.createElement('button');
                confirmButton.innerText = 'Confirm Refresh';
                confirmButton.style.padding = '10px 20px';
                confirmButton.style.backgroundColor = '#ff8484';
                confirmButton.addEventListener('click', () => {
                    socket.emit('refreshApiKey');
                });
                const denyButton = document.createElement('button');
                denyButton.innerText = 'Cancel Refresh';
                denyButton.style.padding = '10px 20px';
                denyButton.addEventListener('click', () => {
                    apiRefreshDiv.innerHTML = '<button id="apiRefresh" onclick="refreshApiKey()" style="padding: 10px 20px; background-color: #ff8484">Refresh API Key</button>';
                });
                const apiRefreshDiv = document.getElementById('apiRefreshDiv');
                apiRefreshDiv.innerHTML = ''; // Clear previous content
                apiRefreshDiv.appendChild(denyButton);
                apiRefreshDiv.appendChild(confirmButton);
            }
            
            socket.on('apiKeyUpdated', (data) => {
                apiKeyValue = data;
                const apiKey = document.getElementById('apiKey');
                const apiRefreshDiv = document.getElementById('apiRefreshDiv');
                apiRefreshDiv.innerHTML = '<button id="apiRefresh" onclick="refreshApiKey()" style="padding: 10px 20px; background-color: #ff8484">Refresh API Key</button>';
                const apiKeyButton = document.getElementById('apiKeyButton');
                if (apiKeyButton.innerHTML.includes('Hide API Key')) {
                    apiKey.innerHTML = '<p><strong>API Key:</strong> ' + apiKeyValue + '</p>';
                } else {
                    apiKey.innerHTML = '<p id="apiKey"><strong>API Key:</strong> ████████████████████████████████████████████████████████████████</p>';
                }
            });
        </script>