<%- include('../partials/header_content') %>
<%- include('../partials/sockets') %>

<body id="colorContent">
<%- include('../partials/formbar_header') %>
<div id="content" class="contentBox">
    <h2 class="headerText">Join a class</h2>
    <% if (joinedClasses.length > 0) { %>
        <form action="selectClass" method="post">
            <select id="joinedKey" name="id" required>
                <option value="" disabled selected>Joined classes</option>
                <% for(let joinedClass of joinedClasses) { %>
                    <option value="<%- joinedClass.id %>">
                        <%- joinedClass.name %>
                    </option>
                <% } %>
            </select>
            <input type="submit" id="submitJoinedButton" class="button unselectable quickButton"
                   value="Submit" onsubmit="return false;">
        </form>
    <% } %>

    <form action="selectClass" method="post">
        <input type="text" required name="key" id="joinKey" placeholder="Class code">
        <input type="submit" id="submitJoinButton" class="button unselectable quickButton"
               value="Submit" onsubmit="return false;">
    </form>
</div>
</body>

<script>
    if (document.getElementById("joinedKey")) {
        document.getElementById("joinedKey").addEventListener('input', () => {
            if (event.target.value) {
                document.getElementById("submitJoinedButton").classList.remove("unselectable")
            } else {
                document.getElementById("submitJoinedButton").classList.add("unselectable")
            }
        })
    }

    document.getElementById("joinKey").addEventListener('input', (event) => {
        if (event.target.value) {
            document.getElementById("submitJoinButton").classList.remove("unselectable")
        } else {
            document.getElementById("submitJoinButton").classList.add("unselectable")
        }
    })

    socket.on('joinClass', (success) => {
        if (success === true) {
            window.location.href = '/student';
        }
    });
</script>