<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header_content') %>
	<%- include('../partials/sockets') %>
		<%- include('../partials/formbar_header') %>

			<head>
				<style>
					#vbContainer {
						top: 75px;
						height: 85%;
						justify-self: center;
					}
				</style>
				<script src="/js/deepObjectEqual.js"></script>
			</head>

			<body>
				<div id="studentVBar">
					<%- include("../partials/virtual_bar.ejs") %>
						<% if (currentUser.classPermissions>= STUDENT_PERMISSIONS) { %>

							<br>
							<div id="helpBreak">
								<div id="studHelp">
									<h1>Need Help?</h1>
									<button onclick="{document.getElementById('requestHelpDialog').showModal()}" class="quickButton helpButton">Send Ticket</button>
									<br>
								</div>
								<div id="studBreak">
									<h1>Need a Break?</h1>
									<button class="breakButton"
										onclick="{document.getElementById('requestBreakDialog').showModal()}">
										Take Break
									</button>
								</div>
								<div id="pollContent">
									<h1 id="noPoll" class="textColorContent">No active poll</h1>
									<div id="poll">
										<u>
											<h2 id="pollPrompt">

											</h2>
										</u>
										<form id="pollForm"></form>
										<br>
									</div>
								</div>
							</div>
				</div>
				<%- include('../partials/body_content') %>

					<dialog id="requestBreakDialog" class="contentBox">
						<form
							onsubmit="submitBreak(event);document.getElementById('bathroom').checked = false;document.getElementById('other').checked = false;">
							<h3 style="margin-top: 0;">Take a break</h3>
							<div id="breakInputs" class="centered">
								<label class="form-control" id="pollControl" for="bathroom">
									<input type="radio" name="option" id="bathroom" value="Bathroom" required>
									Bathroom
								</label>
								<label class="form-control" id="pollControl" for="other">
									<input type="radio" name="option" id="other" value="other">
									Other
								</label>
								<textarea class="hidden" id="otherText" cols="25" rows="3"
									maxlength="150"></textarea>
							</div>
							<div id="takeBreak" class="hCentered">
								<button class="quickButton" id="cancel" type="button"
									onclick="document.getElementById('bathroom').checked = false;document.getElementById('other').checked = false;document.getElementById('requestBreakDialog').close();">Cancel</button>
								<button class="quickButton" type="submit">Take Break</button>
							</div>
						</form>
					</dialog>
					<dialog id="requestHelpDialog" class="contentBox">
						<form onsubmit="help()">
							<h3 style="margin-top: 0;">Request Help</h3>
							<div id="eventForm">
								<textarea id="ticket" cols="30" rows="5" maxlength="150" class="helpBox"
									placeholder="Reason (optional)"></textarea>
								<!-- <input type="text" id="ticket" class="quickButton" placeholder="Reason(optional)"> -->
							</div>
							
							<div id="takeHelp" class="hCentered">
								<button class="quickButton" id="cancel" type="button" onclick="document.getElementById('requestHelpDialog').close();">Cancel</button>
								<button class="quickButton" type="submit">Request Help</button>
							</div>
						</form>
					</dialog>
					<% } %>
			</body>

			<% if (currentUser.classPermissions>= STUDENT_PERMISSIONS) { %>
				<script type="text/javascript">
					//letiable creation
					let resTextBox = document.getElementById('resTextBox')
					let pollForm = document.getElementById('pollForm')
					let pollContent = document.getElementById('pollContent')
					let pollDiv = document.getElementById('poll')
					let pollPromptDisplay = document.getElementById('pollPrompt')
					noPoll = document.getElementById('noPoll')

					//stores the answer type that will be used in the student form
					//
					let multiAnswer = ""

					// For answering polls using only the keyboard
					document.addEventListener('keydown', (event) => {
						try {
							const key = +event.key - 1;
							const pollSelection = pollForm.children[key].children[0];

							// If the response is not already selected, then select it
							if (!pollSelection.checked) {
								pollSelection.click();
							}
						} catch (err) {
							// Do nothing, this is just to prevent errors when the user presses a key that does not correspond to a poll response
						}
					});

					let oldLetterRes = '<%- myRes %>'
					let oldTextRes = '<%- myTextRes %>'

					let poll = {}
					let mode = ''
					let quiz = {}
					let votingRight = false

					function unselectRemove(event) {
						event.preventDefault();
						document.getElementById('remove').checked = false;
					}

					function updatePageLoop() {
						if (poll.multiRes) {
							multiAnswer = "checkbox"
						} else {
							multiAnswer = "radio"
						}
						if (mode == 'poll' && votingRight) {
							pollContent.style.display = 'block'

							if (poll.status) {
								noPoll.style.display = 'none'
								pollDiv.style.display = 'block'

								pollForm.innerHTML = ''

								pollPromptDisplay.innerText = poll.prompt
								// Creates all selectable answers and displays them to the user
								for (let response of Object.values(poll.responses)) {
									response.answer = response.answer.replace(/</g, "&lt;").replace(/>/g, "&gt;"); // Sanitize HTML inputs
									pollForm.innerHTML += `
											<label class="form-control" id="pollControl" style="color: ${response.color}; --theme-color: black;">
												<input type="${multiAnswer}" name="poll" id="${response.answer}" value="${response.answer}" onclick="submitPoll()">
												${response.answer}
											</label>
										`;
								}
								if (!poll.multiRes) {
									pollForm.innerHTML += `
												<label onContextMenu="unselectRemove(event)" class="form-control" id="pollControl" style="--theme-color: hsl(0, 0%, 70%);">
													<input type="radio" name="poll" id="remove" value="remove" onclick="submitPoll()">
													remove
												</label>
											`
								}

								if (poll.textRes) {
									pollForm.innerHTML += `<br><textarea name="resText" cols="50" rows="15" id="resTextBox" value="${oldTextRes}"></textarea>`
								}
							} else {
								noPoll.style.display = 'block'
								pollDiv.style.display = 'none'
							}

							// If the user has responded before on this poll, put their previous responses in the form
							const resTextBox = document.getElementById("resTextBox")
							if (!poll.multiRes) {
								// If the poll isn't multi-res, handle it normally
								const oldLetterElement = document.getElementById(oldLetterRes)
								if (oldLetterRes && oldLetterElement) {
									oldLetterElement.checked = true
								}
							} else {
								// If the poll is multi-res, split the response and check all of them
								const splitLetterRes = oldLetterRes.split(',')
								for (const splitLetter of splitLetterRes) {
									const oldLetterElement = document.getElementById(splitLetter)
									if (oldLetterElement) {
										oldLetterElement.checked = true
									}
								}
							}


							if (oldTextRes && resTextBox) {
								resTextBox.value = oldTextRes
							}
						}
					}

					function updatePage() {
						if (poll.allowedResponses.length > 0) {
							for (let eachAllowedResponse of poll.allowedResponses) {
								if (eachAllowedResponse == currentUser.email) {
									updatePageLoop()
									return
								}
							}
							for (let eachUnallowedResponse of poll.unallowedResponses) {
								if (eachUnallowedResponse == currentUser.email) {
									pollForm.innerHTML = `<label class="form-control" id="pollControl" style="--theme-color: hsl(0, 0%, 70%);">You may not answer currently</label>`
								}
							}
						}
						else if (poll.allowedResponses.length == 0) {
							updatePageLoop()
							return
						}
					}

					// Submits the users answer to the poll
					// Takes the pollResponses value which defines the number of possible answers
					function submitPoll() {
						let radios = document.getElementsByName('poll')
						let textarea = document.getElementById("resTextBox")
						let lettRes = []
						let textRes = ''

						//Subtract 2 from radios.length to make sure the bathroom break does not interfere with radio values and lettRes
						for (let i = 0; i < radios.length; i++) {
							if ((radios[i].type == 'radio' || radios[i].type == "checkbox") && radios[i].checked) {
								// Defines the letter response of the user
								if (radios[i].value == "remove") {
									lettRes = radios[i].value
									break;
								}
								lettRes.push(radios[i].value)
							}
						}

						// If the poll isn't multi-res, extract the single response from the array
						if (lettRes.length == 1 && !poll.multiRes) {
							lettRes = lettRes[0]
						}

						if (textarea) {
							textRes = textarea.value
						}

						// Sends user input to the server
						socket.emit('pollResp', lettRes, textRes)
					}


					socket.emit('pollUpdate')
					socket.on('pollUpdate', (newPoll) => {
						if (deepObjectEqual(poll, newPoll)) return

						poll = newPoll
						if (poll.status) {
							socket.emit('getCanVote', currentUser.email)
						}
						updatePage()
					})

					socket.on('pollResp', (voteData) => {
						const allResponses = document.querySelectorAll('#pollControl input[name="poll"]')
						const oldLetterElement = document.querySelector(`#pollControl input[value="${voteData.res}"]`);

						// Set all responses to unchecked
						allResponses.forEach((response) => {
							if (response.type == 'radio' || response.type == 'checkbox') {
								response.checked = false;
							}
						});

						// Set the correct response to checked
						if (oldLetterElement && !oldLetterElement.checked) {
							oldLetterElement.checked = true;
						}

						if (voteData.textRes) {
							const resTextBox = document.getElementById("resTextBox");
							if (resTextBox) {
								resTextBox.value = voteData.textRes;
							}
						}
					});

					if (poll.status) {
						socket.emit('getCanVote', currentUser.email)
					}
					socket.on('getCanVote', (newVotingRight) => {
						votingRight = newVotingRight
						if (newVotingRight) {
							updatePage()
						} else {
							pollForm.innerHTML = `<label class="form-control" id="pollControl" style="--theme-color: hsl(0, 0%, 70%);">You may not answer currently</label>`
						}
					})

					socket.emit('modeUpdate')
					socket.on('modeUpdate', (newMode) => {
						if (mode == newMode) return

						mode = newMode
						updatePage()
					})

					socket.emit('quizUpdate')
					socket.on('quizUpdate', (newQuiz) => {
						if (deepObjectEqual(quiz, newQuiz)) return

						quiz = newQuiz
						updatePage()
					})
					//help ticket/break button

					socket.on("helpSuccess", () => {
						alert("Help ticket sent")
					})

					function help() {
						let reason = document.getElementById('ticket').value
						socket.emit('help', reason)
						document.getElementById('ticket').value = ''
					}

					let options = document.getElementsByName('option')
					for (let option of options) {
						option.onchange = () => {
							let otherRadio = document.getElementById('other')
							let otherText = document.getElementById('otherText')

							if (otherRadio.checked) {
								otherText.required = true
								otherText.classList.remove('hidden')
							}
							else {
								otherText.required = false
								otherText.classList.add('hidden')
							}
						}
					}

					function submitBreak() {
						event.preventDefault()
						document.getElementById('requestBreakDialog').close()

						let reason = document.querySelector('input[name=option]:checked').value
						if (reason == 'other')
							reason = document.getElementById('otherText').value

						socket.emit('requestBreak', reason)
					}
				</script>
				<% } %>

				<%- include('../partials/footer_content') %>
</html>
